/**
 * Page styles
 */

.page .intro {
    color: #fff;
}

.page .x-column.case_study {
    background-color: #2096C8 !important;
    color: #fff;
}

.page .x-column.case_study .x-promo {
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 0;
    position: relative;
}

.page .x-column.case_study .x-promo .x-promo-image-wrap:after {
    background-color: rgba(0, 0, 0, 0.3);
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.page .x-column.case_study .x-promo .x-promo-content {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: transparent;
    width: 100%;
}

.page .x-column.case_study .x-promo .x-promo-content .x-btn {
    background-color: transparent;
    border: #fff solid 1px;
    color: #fff;
}

.page .x-column.case_study .x-promo .x-promo-content .x-btn:hover {
    background-color: rgba(32, 150, 200, 0.5);
}

.page .x-column.case_study h2,
.page .x-column.case_study h3,
.page .x-column.case_study h4 {
    color: #fff;
    margin: 25px 0 10px;
    min-height: 72px;
    padding: 0 25px;
}

.page .x-column.case_study .x-text {
    min-height: 70px;
    padding: 0px 25px;
}

.page .x-video.embed {
    border: #dad8d8 solid 1px;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
}

#gform_1 .gform_heading {
    display: none;
}

#gform_1 .gform_body .custom-heading h3 {
    color: #004b6b;
    letter-spacing: 0em !important;
    font-weight: 400;
    margin: 0 0 0.2em;
    font-size: 200%;
}

#gform_1 .gform_body .custom-heading h3 a {
    color: #004b6b;
}

.ig_popup.icegram {
    width: 40%;
}

.ig_popup.icegram .gform_wrapper {
    margin-bottom: 0;
}

.ig_popup.icegram .gform_wrapper .signupform ul,
.ig_popup.icegram .gform_wrapper .signupform .gform_footer {
    text-align: center;
}

.ig_popup.icegram .gform_wrapper .gform_footer input {
    width: 45%;
    margin: 0 16px 0 0;
    padding: 0.3em;
}

.masthead {
    background-color: #2094c5;
}

.masthead .location-selector {
    position: relative;
    font-size: 13px;
    padding: 10px 10px 10px 0px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}

.masthead .location-selector .locations {
    width: 300px;
    position: absolute;
    top: 27px;
    padding: 10px;
    z-index: 2000;
    display: none;
    background-color: #2094c5;
}

.masthead .location-selector .locations a {
    display: block;
    font-size: 12px;
    padding: 5px;
    color: #fff;
}

.masthead .location-selector .locations a img {
    max-width: 50px;
}

.masthead .location-selector:hover>.locations {
    display: block;
}

body {
    background-color: red !important;
}

.hentry {
    margin-top: 0;
}

.entry-content {
    margin-top: 0;
}

.downloadbtn.x-btn-jumbo {
    font-size: 64px;
}

.downloadbtn.x-btn-jumbo.x-btn-transparent:hover {
    border-width: 0;
    border-color: transparent;
}

.x-navbar .x-nav a:focus {
    outline: 0;
}

.x-search-shortcode {
    margin-bottom: 50px;
}

@media screen and (min-width: 600px) {
    .x-search-shortcode {
        margin: 50px 0 90px;
    }
}

.form-search {
    overflow: hidden;
}

@media screen and (min-width: 600px) {
    .form-search {
        display: flex;
        width: 100%;
    }
}

.form-search:before {
    display: none;
}

.form-search label {
    font-size: 20px;
    line-height: normal;
}

@media screen and (min-width: 600px) {
    .form-search label {
        width: 50%;
        float: left;
        padding-right: 30px;
        margin-bottom: 0 !important;
        align-self: center;
    }
}

@media screen and (min-width: 1180px) {
    .form-search label {
        font-size: 25px;
    }
}

.form-search .search-query-container {
    position: relative;
}

@media screen and (min-width: 600px) {
    .form-search .search-query-container {
        width: 50%;
        float: right;
        align-self: center;
    }
}

.form-search .search-query-container:before {
    content: "\f002";
    position: absolute;
    top: 21px;
    left: 12px;
    display: block;
    font-size: 12px;
    line-height: 1;
    text-decoration: inherit;
    text-shadow: none;
    color: #272727;
    font-family: "FontAwesome" !important;
    font-style: normal !important;
    font-weight: normal !important;
    text-decoration: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.testimonial-title {
    color: #fff;
}

.testimonial-section {
    display: block;
}

.testimonial-section .x-flexslider-shortcode-container {
    margin: 20px 0 30px 0;
    padding: 0 20px;
}

.testimonial-section .flex-direction-nav {
    display: none;
}

.testimonial-section .flex-direction-nav a.flex-prev {
    left: 14px;
}

.testimonial-section .flex-direction-nav a.flex-next {
    left: auto;
    right: 14px;
}

@media screen and (min-width: 600px) {
    .testimonial-section .flex-direction-nav {
        display: block;
    }
}

.testimonial-section ul {
    color: #fff;
    max-width: 700px;
    margin: 0 auto;
    display: block;
}

@media screen and (min-width: 600px) {
    .testimonial-section ul {
        padding: 0 80px;
    }
}

.testimonial-section ul span {
    font-weight: bold;
}

.pwl-calculator {
    display: block;
}

.pwl-calculator .ui-slider-horizontal {
    background: linear-gradient(#40bfea, #299bcd);
    border: none !important;
    border-radius: 0;
}

.pwl-calculator .ui-slider-handle.ui-state-default {
    background: #165976;
    border-color: #fff;
    border-radius: 0;
    width: 38px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    top: -10px;
    margin-left: -19px;
}

.pwl-calculator .ui-slider-handle.ui-state-default:before {
    content: "\f07e";
    color: #fff;
    font-family: "FontAwesome";
    font-size: 25px;
}

.pwl-calculator .inputs-line {
    display: block;
}

@media screen and (min-width: 600px) {
    .pwl-calculator .inputs-line {
        display: flex;
        width: 100%;
    }
}

.pwl-calculator .input-container {
    display: block;
}

@media screen and (min-width: 600px) {
    .pwl-calculator .input-container {
        width: 100%;
    }
}

.pwl-calculator .input-container .input-units {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 5px;
}

.pwl-calculator .input-container .input-units span {
    width: 20px;
    font-size: 11px;
}

.pwl-calculator .input-box {
    width: 100%;
    border: 1px solid #2096c8;
    display: block;
    padding: 0 8px;
    margin: 0 0 40px 0;
    height: 30px;
    line-height: 28px;
}

@media screen and (min-width: 600px) {
    .pwl-calculator .input-box {
        width: 170px;
        margin-left: 8px;
    }
}

.pwl-calculator .input-box label {
    display: inline-block;
    vertical-align: middle;
    color: #2096c8;
    font-size: 14px;
    margin-bottom: 0;
}

.pwl-calculator .input-box input {
    display: inline-block;
    vertical-align: middle;
    background: none !important;
    border: none !important;
    color: #2096c8;
    font-size: 14px;
    margin-bottom: 0 !important;
    padding-left: 2px;
    width: auto;
    height: 27px;
    max-width: 42px;
    padding-right: 0 !important;
    box-shadow: none !important;
}

.pwl-calculator .results-container {
    display: block;
    width: 100%;
}

@media screen and (min-width: 600px) {
    .pwl-calculator .results-container {
        display: flex;
        margin: 20px 0 0 0;
    }
}

.pwl-calculator .results-container .results-item {
    margin: 0;
    padding: 0;
    float: none;
    display: block;
    width: 100%;
    position: relative;
}

@media screen and (min-width: 600px) {
    .pwl-calculator .results-container .results-item {
        float: left;
        width: 33.33%;
        flex-grow: 0;
        flex-shrink: 0;
    }
}

.pwl-calculator .results-container .results-item:after {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: aqua;
    position: absolute;
    z-index: 10;
    text-align: center;
    line-height: 45px;
    color: #2096c8;
    left: 50%;
    margin-left: -22px;
    bottom: -31px;
}

@media screen and (min-width: 600px) {
    .pwl-calculator .results-container .results-item:after {
        margin-left: 0;
        top: 20px;
        right: -22px;
        bottom: auto;
        left: auto;
    }
}

.pwl-calculator .results-container .results-item h3 {
    border-bottom: 1px solid #fff;
    font-weight: bold;
    font-size: 22px;
    padding-bottom: 0.5em;
}

.pwl-calculator .results-container .results-item.traditional:after {
    content: "Vs";
    background-color: #165976;
    font-weight: bold;
    font-size: 23px;
}

.pwl-calculator .results-container .results-item.traditional .results-item-inner {
    background-color: #d8d8d8;
    color: #165976;
}

.pwl-calculator .results-container .results-item.traditional .results-item-inner h3 {
    color: #165976;
}

.pwl-calculator .results-container .results-item.bulkx:after {
    content: "=";
    background-color: #dbd7d8;
    font-size: 36px;
}

.pwl-calculator .results-container .results-item.bulkx .results-item-inner {
    background-color: #2096c8;
    color: #fff;
}

.pwl-calculator .results-container .results-item.bulkx .results-item-inner h3 {
    color: #fff;
}

.pwl-calculator .results-container .results-item.benefits .results-item-inner {
    background-color: #165976;
    color: #fff;
}

.pwl-calculator .results-container .results-item.benefits .results-item-inner h3 {
    color: #fff;
}

.pwl-calculator .results-container .results-item .results-item-inner {
    display: block;
    margin: 18px 0;
    background-color: #fff;
    overflow: hidden;
    height: 100%;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    line-height: 20px;
    min-height: 250px;
}

@media screen and (min-width: 600px) {
    .pwl-calculator .results-container .results-item .results-item-inner {
        margin: 18px 8px;
    }
}

.pwl-calculator .results-container .results-item:first-child .results-item-inner {
    margin-left: 0;
}

.pwl-calculator .results-container .results-item:last-child .results-item-inner {
    margin-right: 0;
}

.pwl-calculator .results-container .results-item .result-line {
    display: block;
    margin-bottom: 12px;
}

.pwl-calculator .results-container .results-item .benefits-results {
    font-size: 16px;
    position: relative;
}

@media screen and (min-width: 600px) {
    .pwl-calculator .results-container .results-item .benefits-results {
        top: 38%;
        transform: translateY(-50%);
    }
}

.home-case-study-section .x-text {
    margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
    .home-case-study-section .x-text {
        margin-left: 60px;
        padding-left: 18px;
        border-left: 1px solid #2096c8;
    }
}

.home-case-study-section .x-btn {
    border-color: #0e5473;
    color: #0e5473;
    font-size: 14px;
    font-weight: 400;
    font-family: "Work Sans", sans-serif;
    text-transform: none !important;
}

@media screen and (min-width: 768px) {
    .home-case-study-section .x-btn {
        float: left;
        margin-left: 79px;
    }
}

.home-case-study-section .x-btn:hover {
    color: #2096c8 !important;
    border-color: #2096c8 !important;
}

.wpgmaps_directions_outer_div {
    width: 100% !important;
}

@media screen and (min-width: 768px) {
    .home-hub .x-column.x-1-2 {
        margin-right: 2%;
    }
    .home-hub .x-column.x-1-4 {
        margin-right: 2%;
        width: 24%;
    }
    .home-hub .x-column.x-1-4:last-child {
        margin-right: 0;
    }
}

.home-hub .x-promo {
    position: relative;
    border-radius: 0;
    border: none;
    box-shadow: none;
    margin-bottom: 22px;
    background-color: #2096c8;
}

.home-hub .x-promo:hover .x-promo-image-wrap {
    opacity: 0.5;
}

.home-hub .x-promo-image-wrap {
    position: relative;
    z-index: 1;
    transition: opacity 0.2s;
}

.home-hub .x-column.x-sm.x-1-2 img {
    height: 580px;
}

.home-hub .x-column.x-sm.x-1-2 span {
    font-size: 32px;
}

.home-hub .x-promo-content {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(2, 118, 168, 0.8);
}

.home-hub .x-promo-content a {
    display: block;
    width: 100%;
    height: 100%;
}

.home-hub .x-promo-content a span {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
    font-size: 20px;
    color: #fff;
    padding: 0 20px;
    line-height: normal;
}

.home-hub .x-promo-content a i.download:before {
    content: "\f019";
    font-family: "FontAwesome";
    font-style: normal;
    display: block;
    font-size: 32px;
    margin-bottom: 5px;
}

.single-products .x-flexslider-shortcode-container .flex-direction-nav {
    display: none;
}

@media screen and (min-width: 768px) {
    .single-products .x-flexslider-shortcode-container .flex-direction-nav {
        display: block;
    }
}

.single-products .x-flexslider-shortcode-container .flex-control-nav {
    display: block;
}

@media screen and (min-width: 768px) {
    .single-products .x-flexslider-shortcode-container .flex-control-nav {
        display: none;
    }
}

.footer-nav-menu {
    text-align: left;
}

@media screen and (max-width: 768px) {
    .footer-nav-menu {
        text-align: center;
    }
}

.social-network-links {
    display: block;
}

.social-network-links a {
    font-family: "FontAwesome" !important;
    font-style: normal !important;
    font-weight: normal !important;
    display: inline-block;
    margin-right: 6px;
    font-size: 16px;
}

.social-network-links a.social-facebook:before {
    content: "\f09a";
}

.social-network-links a.social-twitter:before {
    content: "\f099";
}

.social-network-links a.social-linkedin:before {
    content: "\f0e1";
}

.country-select {
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #2096c8;
    line-height: 1.7;
}

@media screen and (max-width: 768px) {
    .country-select {
        display: block;
        margin: 50px 0;
    }
}

.country-select span {
    display: inline-block;
    margin-right: 10px;
}

@media screen and (max-width: 768px) {
    .country-select span {
        display: block;
        margin: 0 0 10px 0;
    }
}

.country-select a {
    display: inline-block;
    vertical-align: middle;
}

.country-select a img {
    height: 19px;
    width: auto;
    display: block;
}

@media screen and (max-width: 768px) {
    .country-select a img {
        height: 22px;
    }
}

.single-post .entry-content {
    margin-top: 0;
}

.single-post .entry-content.content {
    margin-top: 0;
}

.facetwp-template .row {
    margin-bottom: 45px;
}

.tablepress tbody td {
    color: #fff;
    text-align: center;
}
