footer.x-colophon.bottom {
  padding: 0;
  background: none;
  border-top: 0; }
  footer.x-colophon.bottom .x-container.max.width {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding: 0 !important;
    background-image: none !important; }
  footer.x-colophon.bottom .x-column.x-sm.cs-ta-right.x-1-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 40px !important; }
    footer.x-colophon.bottom .x-column.x-sm.cs-ta-right.x-1-3 .x-text {
      color: #004A6C;
      font-family: "Work Sans";
      font-size: 10px;
      font-weight: 300;
      line-height: 18px;
      text-align: right;
      margin-top: 20px; }
    @media only screen and (min-width: 768px) {
      footer.x-colophon.bottom .x-column.x-sm.cs-ta-right.x-1-3 {
        width: 29.66666%; } }
    @media only screen and (max-width: 768px) {
      footer.x-colophon.bottom .x-column.x-sm.cs-ta-right.x-1-3 {
        padding-top: 40px !important;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                    -ms-grid-row-align: center;
                align-items: center; } }
    footer.x-colophon.bottom .x-column.x-sm.cs-ta-right.x-1-3 .social-network-links {
      display: block;
      margin: 60px 0px 30px 0; }
      @media only screen and (max-width: 768px) {
        footer.x-colophon.bottom .x-column.x-sm.cs-ta-right.x-1-3 .social-network-links {
          margin: 30px 0px 10px 0; } }
      footer.x-colophon.bottom .x-column.x-sm.cs-ta-right.x-1-3 .social-network-links a {
        display: inline-block;
        margin-right: 6px;
        font-weight: normal !important;
        font-style: normal !important;
        font-size: 26px;
        font-family: "FontAwesome" !important;
        color: #fffd;
        background-color: #00496b;
        width: 40px;
        height: 40px;
        position: relative; }
        footer.x-colophon.bottom .x-column.x-sm.cs-ta-right.x-1-3 .social-network-links a:before {
          position: absolute;
          left: 50%;
          top: 50%;
          -webkit-transform: translateY(-50%) translateX(-50%);
                  transform: translateY(-50%) translateX(-50%); }
  footer.x-colophon.bottom .x-column.x-sm.x-2-3 {
    background-color: #E0E5E9;
    padding: 40px !important; }
    @media only screen and (min-width: 768px) {
      footer.x-colophon.bottom .x-column.x-sm.x-2-3 {
        width: 66.33332%;
        margin-right: 3%; } }
    footer.x-colophon.bottom .x-column.x-sm.x-2-3 ul#menu-footer-menu {
      margin-top: 30px; }
    footer.x-colophon.bottom .x-column.x-sm.x-2-3 #gform_1 .gform_body .custom-heading h3 {
      display: none; }
    footer.x-colophon.bottom .x-column.x-sm.x-2-3 h2.rounded {
      color: #004A6C;
      font-family: "Work Sans";
      font-size: 27px;
      font-weight: 600;
      line-height: 30px;
      margin-bottom: 30px; }
    footer.x-colophon.bottom .x-column.x-sm.x-2-3 .gform_wrapper {
      max-width: 552px; }
      footer.x-colophon.bottom .x-column.x-sm.x-2-3 .gform_wrapper .gform_footer.top_label {
        margin-top: 0 !important; }
      footer.x-colophon.bottom .x-column.x-sm.x-2-3 .gform_wrapper input#gform_submit_button_1 {
        background-color: #004A6C;
        padding: 11px 11px 12px 11px;
        border: 0;
        border-radius: 0;
        background-image: url(../images/submit-arrow.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center right;
        padding-right: 60px;
        box-sizing: border-box !important;
        width: calc(50% - 16px); }
      footer.x-colophon.bottom .x-column.x-sm.x-2-3 .gform_wrapper label {
        display: none; }
      footer.x-colophon.bottom .x-column.x-sm.x-2-3 .gform_wrapper .gfield_checkbox label {
        display: initial; }
      footer.x-colophon.bottom .x-column.x-sm.x-2-3 .gform_wrapper .gfield_checkbox li {
        width: auto;
        display: inline-block;
        padding-right: 20px !important; }
      footer.x-colophon.bottom .x-column.x-sm.x-2-3 .gform_wrapper .gfield_checkbox {
        position: relative;
        opacity: 1; }
        footer.x-colophon.bottom .x-column.x-sm.x-2-3 .gform_wrapper .gfield_checkbox input {
          height: auto !important;
          opacity: 0;
          display: none; }
          footer.x-colophon.bottom .x-column.x-sm.x-2-3 .gform_wrapper .gfield_checkbox input + label {
            position: relative;
            cursor: pointer;
            padding: 0;
            font-size: 16px;
            color: #004A6C;
            font-weight: 500; }
          footer.x-colophon.bottom .x-column.x-sm.x-2-3 .gform_wrapper .gfield_checkbox input + label:before {
            content: '';
            margin-right: 10px;
            display: inline-block;
            vertical-align: text-top;
            width: 20px;
            height: 20px;
            background: white;
            border: 1px solid #004A6C;
            background-color: #FFFFFF; }
          footer.x-colophon.bottom .x-column.x-sm.x-2-3 .gform_wrapper .gfield_checkbox input:focus + label:before {
            box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12); }
          footer.x-colophon.bottom .x-column.x-sm.x-2-3 .gform_wrapper .gfield_checkbox input:checked + label:before {
            background: #fff; }
          footer.x-colophon.bottom .x-column.x-sm.x-2-3 .gform_wrapper .gfield_checkbox input:checked + label:after, footer.x-colophon.bottom .x-column.x-sm.x-2-3 .gform_wrapper .gfield_checkbox input:hover + label:after {
            content: '';
            position: absolute;
            left: 5px;
            top: 9px;
            background: #004A6C;
            width: 2px;
            height: 2px;
            box-shadow: 2px 0 0 #004A6C, 4px 0 0 #004A6C, 4px -2px 0 #004A6C, 4px -4px 0 #004A6C, 4px -6px 0 #004A6C, 4px -8px 0 #004A6C;
            -webkit-transform: rotate(45deg);
                    transform: rotate(45deg); }
        footer.x-colophon.bottom .x-column.x-sm.x-2-3 .gform_wrapper .gfield_checkbox label {
          position: relative;
          cursor: pointer;
          padding: 0; }
          footer.x-colophon.bottom .x-column.x-sm.x-2-3 .gform_wrapper .gfield_checkbox label:hover:before {
            background: #fff; }
          footer.x-colophon.bottom .x-column.x-sm.x-2-3 .gform_wrapper .gfield_checkbox label:focus:before {
            box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12); }
      footer.x-colophon.bottom .x-column.x-sm.x-2-3 .gform_wrapper .top_label div.ginput_container {
        margin-top: 0; }
      footer.x-colophon.bottom .x-column.x-sm.x-2-3 .gform_wrapper li.gfield {
        display: inline-block;
        width: 50%;
        margin-top: 0; }
        @media only screen and (max-width: 768px) {
          footer.x-colophon.bottom .x-column.x-sm.x-2-3 .gform_wrapper li.gfield {
            width: 100%; } }
        footer.x-colophon.bottom .x-column.x-sm.x-2-3 .gform_wrapper li.gfield input {
          width: 100%;
          border: 1px solid #004A6C;
          border-radius: 0;
          height: 37px;
          padding: 10px;
          color: #004A6C;
          font-size: 12px;
          box-shadow: none; }
        footer.x-colophon.bottom .x-column.x-sm.x-2-3 .gform_wrapper li.gfield:nth-child(1) {
          display: none; }
        footer.x-colophon.bottom .x-column.x-sm.x-2-3 .gform_wrapper li.gfield:nth-child(2) {
          width: 100%; }
    footer.x-colophon.bottom .x-column.x-sm.x-2-3 ul#menu-footer-menu li {
      position: relative;
      padding-right: 10px;
      margin-right: 10px; }
      footer.x-colophon.bottom .x-column.x-sm.x-2-3 ul#menu-footer-menu li a {
        color: #004A6C;
        font-family: "Work Sans";
        font-size: 12px;
        line-height: 24px;
        text-transform: initial;
        letter-spacing: 0; }
      footer.x-colophon.bottom .x-column.x-sm.x-2-3 ul#menu-footer-menu li:after {
        content: '';
        display: block;
        position: absolute;
        height: 60%;
        width: 1px;
        background-color: #004A6C;
        right: 0;
        top: 25%; }
      footer.x-colophon.bottom .x-column.x-sm.x-2-3 ul#menu-footer-menu li:last-child:after {
        display: none; }

/**
 * Page styles
 */
.page .intro {
  color: #fff; }
.page .x-column.case_study {
  background-color: #2096C8 !important;
  color: #fff; }
  .page .x-column.case_study .x-promo {
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 0;
    position: relative; }
    .page .x-column.case_study .x-promo .x-promo-image-wrap:after {
      background-color: rgba(0, 0, 0, 0.3);
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    .page .x-column.case_study .x-promo .x-promo-content {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      background-color: transparent;
      width: 100%; }
      .page .x-column.case_study .x-promo .x-promo-content .x-btn {
        background-color: transparent;
        border: #fff solid 1px;
        color: #fff; }
        .page .x-column.case_study .x-promo .x-promo-content .x-btn:hover {
          background-color: rgba(32, 150, 200, 0.5); }
  .page .x-column.case_study h2, .page .x-column.case_study h3, .page .x-column.case_study h4 {
    color: #fff;
    margin: 25px 0 10px;
    min-height: 72px;
    padding: 0 25px; }
  .page .x-column.case_study .x-text {
    min-height: 70px;
    padding: 0px 25px; }
.page .x-video.embed {
  border: #dad8d8 solid 1px;
  border-radius: 0;
  box-shadow: none;
  padding: 0; }

.tab {
  display: none; }
  .tab.active {
    display: block; }

.x-container.tab {
  margin-bottom: 20px; }

.x-search-shortcode.cornerstone-archive-search.search-page {
  margin-top: 0;
  margin-bottom: 40px; }

.search-result {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  border: solid 1px #efefef;
  margin-bottom: -1px; }
  .search-result:first-child {
    border-top: 0; }
  .search-result .search-result-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 40px; }
    .search-result .search-result-inner a {
      height: 100%; }
      .search-result .search-result-inner a div {
        height: 100%; }
        .search-result .search-result-inner a div img {
          height: 100%; }
    .search-result .search-result-inner img {
      width: 290px;
      height: 192px;
      -o-object-fit: cover;
         object-fit: cover;
      max-width: 100%; }
      @media only screen and (max-width: 768px) {
        .search-result .search-result-inner img {
          width: 100%; } }
    .search-result .search-result-inner .content-wrapper {
      width: 50%;
      max-width: 440px;
      padding-left: 40px; }
      @media only screen and (max-width: 768px) {
        .search-result .search-result-inner .content-wrapper {
          width: 100%;
          padding-left: 0; } }
      .search-result .search-result-inner .content-wrapper h3 {
        color: #005581;
        font-family: "Work Sans";
        font-size: 24px;
        font-weight: 600;
        line-height: 28px; }
      .search-result .search-result-inner .content-wrapper p {
        color: #005581;
        font-family: "Work Sans";
        font-size: 14px;
        line-height: 20px; }
      .search-result .search-result-inner .content-wrapper a.download-button {
        padding: 11px 30px;
        border: solid 1px #004A6C;
        color: #004A6C;
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 0px;
        margin-top: 10px;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        -webkit-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
        min-width: 165px;
        text-align: center; }
        .search-result .search-result-inner .content-wrapper a.download-button:hover {
          opacity: 0.8; }
        .search-result .search-result-inner .content-wrapper a.download-button:after {
          content: "\f019";
          font-family: FontAwesome;
          color: #004A6C;
          padding-left: 10px; }
      .search-result .search-result-inner .content-wrapper div.arrow-button {
        padding: 11px 30px;
        background-color: #00a6dd;
        color: #EBEBEB;
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 0px;
        margin-top: 10px;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        -webkit-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
        cursor: pointer;
        color: #fff;
        min-width: 165px;
        text-align: center; }
        .search-result .search-result-inner .content-wrapper div.arrow-button:hover {
          opacity: 0.8; }
        .search-result .search-result-inner .content-wrapper div.arrow-button:after {
          content: "\f178";
          font-family: FontAwesome;
          color: #fff;
          padding-left: 10px; }
        .search-result .search-result-inner .content-wrapper div.arrow-button.dark {
          background-color: #004A6C; }
  .search-result .search-bg-img {
    background-color: #00a6dd;
    background-image: url("../images/logo-white.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 290px;
    height: 192px;
    max-width: 100%; }
    @media only screen and (max-width: 768px) {
      .search-result .search-bg-img {
        width: 100%; } }

ul.tab-menu {
  display: block;
  max-width: 900px;
  margin: 0 auto;
  list-style-type: none;
  border-bottom: solid 1px #efefef; }
  ul.tab-menu li {
    display: inline-block;
    margin-right: -1px;
    margin-bottom: -1px; }
    ul.tab-menu li button {
      padding: 10px 60px;
      background-color: #E0E5E9;
      box-shadow: none;
      -webkit-appearance: none;
      border-radius: 0;
      border: solid 1px #efefef;
      color: #005581;
      font-family: "Work Sans";
      font-size: 14px;
      font-weight: 600;
      line-height: 16px;
      text-align: center;
      text-transform: uppercase; }
      ul.tab-menu li button.active {
        border-bottom: solid 1px #fff;
        background-color: #fff; }
      ul.tab-menu li button:focus {
        outline: none; }

.cornerstone-archive-search.search-page .x-container.tab {
  margin-bottom: 20px; }
.cornerstone-archive-search.search-page form#searchform {
  padding: 0;
  max-width: 100%;
  width: 800px;
  text-align: center;
  display: block; }
.cornerstone-archive-search.search-page input#archive_query {
  padding-right: 40px;
  padding-left: 0;
  max-width: 100%;
  width: 100%;
  border: none;
  border-bottom: solid 2px #005581;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
  color: #005581;
  font-size: 24px; }
  @media screen and (max-width: 1240px) {
    .cornerstone-archive-search.search-page input#archive_query {
      font-size: 30px; } }
  @media screen and (max-width: 768px) {
    .cornerstone-archive-search.search-page input#archive_query {
      font-size: 24px; } }
.cornerstone-archive-search.search-page input#searchsubmit {
  position: absolute;
  top: 45%;
  right: 0px;
  display: block;
  padding: 0;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent !important;
  background-image: url(../images/search-blue.svg);
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }
  .cornerstone-archive-search.search-page input#searchsubmit:hover {
    border-color: transparent;
    background-color: transparent; }
.cornerstone-archive-search.search-page .form-search .search-query-container:before {
  display: none; }

.clear-search-container {
  display: block;
  margin: 0 auto;
  text-align: center; }
  .clear-search-container .clear-search {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00a6dd;
    color: #fff;
    margin-bottom: 100px; }

#gform_1 .gform_heading {
  display: none; }
#gform_1 .gform_body .custom-heading h3 {
  color: #004b6b;
  letter-spacing: 0em !important;
  font-weight: 400;
  margin: 0 0 0.2em;
  font-size: 200%; }
  #gform_1 .gform_body .custom-heading h3 a {
    color: #004b6b; }

.ig_popup.icegram {
  width: 40%; }
  .ig_popup.icegram .gform_wrapper {
    margin-bottom: 0; }
    .ig_popup.icegram .gform_wrapper .signupform ul,
    .ig_popup.icegram .gform_wrapper .signupform .gform_footer {
      text-align: center; }
    .ig_popup.icegram .gform_wrapper .gform_footer input {
      width: 45%;
      margin: 0 16px 0 0;
      padding: 0.3em; }

.masthead {
  background-color: #2094c5; }
  .masthead .location-selector {
    position: relative;
    font-size: 13px;
    padding: 10px 10px 10px 0px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff; }
    .masthead .location-selector .locations {
      width: 300px;
      position: absolute;
      top: 27px;
      padding: 10px;
      z-index: 2000;
      display: none;
      background-color: #2094c5; }
      .masthead .location-selector .locations a {
        display: block;
        font-size: 12px;
        padding: 5px;
        color: #fff; }
        .masthead .location-selector .locations a img {
          max-width: 50px; }
    .masthead .location-selector:hover > .locations {
      display: block; }

.hentry {
  margin-top: 0; }

.entry-content {
  margin-top: 0; }

.downloadbtn.x-btn-jumbo {
  font-size: 64px; }
  .downloadbtn.x-btn-jumbo.x-btn-transparent:hover {
    border-width: 0;
    border-color: transparent; }

.x-navbar .x-nav a:focus {
  outline: 0; }

.x-search-shortcode {
  margin-bottom: 50px; }
  @media screen and (min-width: 600px) {
    .x-search-shortcode {
      margin: 50px 0 90px; } }

.form-search {
  overflow: hidden; }
  @media screen and (min-width: 600px) {
    .form-search {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 100%; } }
  .form-search:before {
    display: none; }
  .form-search label {
    font-size: 20px;
    line-height: normal; }
    @media screen and (min-width: 600px) {
      .form-search label {
        float: left;
        -webkit-align-self: center;
            -ms-flex-item-align: center;
                align-self: center;
        margin-bottom: 0 !important;
        padding-right: 30px;
        width: 50%; } }
    @media screen and (min-width: 1180px) {
      .form-search label {
        font-size: 25px; } }
  .form-search .search-query-container {
    position: relative; }
    @media screen and (min-width: 600px) {
      .form-search .search-query-container {
        float: right;
        -webkit-align-self: center;
            -ms-flex-item-align: center;
                align-self: center;
        width: 50%; } }
    .form-search .search-query-container:before {
      position: absolute;
      top: 21px;
      left: 12px;
      display: block;
      color: #272727;
      content: "\f002";
      text-decoration: inherit;
      text-decoration: inherit;
      text-shadow: none;
      font-weight: normal !important;
      font-style: normal !important;
      font-size: 12px;
      font-family: "FontAwesome" !important;
      line-height: 1;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }

.overlay {
  position: relative; }
  .overlay:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    content: ""; }

.overlay-black:before {
  background: rgba(0, 0, 0, 0.4); }

.overlay-blue:before {
  background: rgba(0, 75, 107, 0.8); }

@media only screen and (min-width: 768px) {
  .overlay-blue,
  .overlay-black {
    padding-bottom: 100px !important; } }
.testimonial-title {
  color: #fff; }

.testimonial-section {
  display: block; }
  .testimonial-section .x-flexslider-shortcode-container {
    margin: 20px 0 30px 0;
    padding: 0 20px; }
  .testimonial-section .flex-direction-nav {
    display: none; }
    .testimonial-section .flex-direction-nav a.flex-prev {
      left: 14px; }
    .testimonial-section .flex-direction-nav a.flex-next {
      right: 14px;
      left: auto; }
    @media screen and (min-width: 600px) {
      .testimonial-section .flex-direction-nav {
        display: block; } }
  .testimonial-section ul {
    display: block;
    margin: 0 auto;
    max-width: 700px;
    color: #fff; }
    @media screen and (min-width: 600px) {
      .testimonial-section ul {
        padding: 0 80px; } }
    .testimonial-section ul span {
      font-weight: bold; }

.pwl-calculator {
  display: block; }
  .pwl-calculator .ui-slider-horizontal {
    border: none !important;
    border-radius: 0;
    background: -webkit-linear-gradient(#40bfea, #299bcd);
    background: linear-gradient(#40bfea, #299bcd); }
  .pwl-calculator .ui-slider-handle.ui-state-default {
    top: -10px;
    margin-left: -19px;
    width: 38px;
    height: 30px;
    border-color: #fff;
    border-radius: 0;
    background: #165976;
    text-align: center;
    line-height: 30px; }
    .pwl-calculator .ui-slider-handle.ui-state-default:before {
      color: #fff;
      content: "\f07e";
      font-size: 25px;
      font-family: "FontAwesome"; }
  .pwl-calculator .inputs-line {
    display: block; }
    @media screen and (min-width: 600px) {
      .pwl-calculator .inputs-line {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%; } }
  .pwl-calculator .input-container {
    display: block; }
    @media screen and (min-width: 600px) {
      .pwl-calculator .input-container {
        width: 100%; } }
    .pwl-calculator .input-container .input-units {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-top: 5px;
      width: 100%; }
      .pwl-calculator .input-container .input-units span {
        width: 20px;
        font-size: 11px; }
  .pwl-calculator .input-box {
    display: block;
    margin: 0 0 40px 0;
    padding: 0 8px;
    width: 100%;
    height: 30px;
    border: 1px solid #2096c8;
    line-height: 28px; }
    @media screen and (min-width: 600px) {
      .pwl-calculator .input-box {
        margin-left: 8px;
        width: 170px; } }
    .pwl-calculator .input-box label {
      display: inline-block;
      margin-bottom: 0;
      color: #2096c8;
      vertical-align: middle;
      font-size: 14px; }
    .pwl-calculator .input-box input {
      display: inline-block;
      margin-bottom: 0 !important;
      padding-right: 0 !important;
      padding-left: 2px;
      max-width: 42px;
      width: auto;
      height: 27px;
      border: none !important;
      background: none !important;
      box-shadow: none !important;
      color: #2096c8;
      vertical-align: middle;
      font-size: 14px; }
  .pwl-calculator .results-container {
    display: block;
    width: 100%; }
    @media screen and (min-width: 600px) {
      .pwl-calculator .results-container {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin: 20px 0 0 0; } }
    .pwl-calculator .results-container .results-item {
      position: relative;
      display: block;
      float: none;
      margin: 0;
      padding: 0;
      width: 100%; }
      @media screen and (min-width: 600px) {
        .pwl-calculator .results-container .results-item {
          float: left;
          -webkit-box-flex: 0;
          -webkit-flex-grow: 0;
              -ms-flex-positive: 0;
                  flex-grow: 0;
          -webkit-flex-shrink: 0;
              -ms-flex-negative: 0;
                  flex-shrink: 0;
          width: 33.33%; } }
      .pwl-calculator .results-container .results-item:after {
        position: absolute;
        bottom: -31px;
        left: 50%;
        z-index: 10;
        margin-left: -22px;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: aqua;
        color: #2096c8;
        text-align: center;
        line-height: 45px; }
        @media screen and (min-width: 600px) {
          .pwl-calculator .results-container .results-item:after {
            top: 20px;
            right: -22px;
            bottom: auto;
            left: auto;
            margin-left: 0; } }
      .pwl-calculator .results-container .results-item h3 {
        padding-bottom: 0.5em;
        border-bottom: 1px solid #fff;
        font-weight: bold;
        font-size: 22px; }
      .pwl-calculator .results-container .results-item.traditional:after {
        background-color: #165976;
        content: "Vs";
        font-weight: bold;
        font-size: 23px; }
      .pwl-calculator .results-container .results-item.traditional .results-item-inner {
        background-color: #d8d8d8;
        color: #165976; }
        .pwl-calculator .results-container .results-item.traditional .results-item-inner h3 {
          color: #165976; }
      .pwl-calculator .results-container .results-item.bulkx:after {
        background-color: #dbd7d8;
        content: "=";
        font-size: 36px; }
      .pwl-calculator .results-container .results-item.bulkx .results-item-inner {
        background-color: #2096c8;
        color: #fff; }
        .pwl-calculator .results-container .results-item.bulkx .results-item-inner h3 {
          color: #fff; }
      .pwl-calculator .results-container .results-item.benefits .results-item-inner {
        background-color: #165976;
        color: #fff; }
        .pwl-calculator .results-container .results-item.benefits .results-item-inner h3 {
          color: #fff; }
      .pwl-calculator .results-container .results-item .results-item-inner {
        display: block;
        overflow: hidden;
        margin: 18px 0;
        padding: 10px;
        min-height: 250px;
        height: 100%;
        background-color: #fff;
        text-align: center;
        font-weight: bold;
        line-height: 20px; }
        @media screen and (min-width: 600px) {
          .pwl-calculator .results-container .results-item .results-item-inner {
            margin: 18px 8px; } }
      .pwl-calculator .results-container .results-item:first-child .results-item-inner {
        margin-left: 0; }
      .pwl-calculator .results-container .results-item:last-child .results-item-inner {
        margin-right: 0; }
      .pwl-calculator .results-container .results-item .result-line {
        display: block;
        margin-bottom: 12px; }
      .pwl-calculator .results-container .results-item .benefits-results {
        position: relative;
        font-size: 16px; }
        @media screen and (min-width: 600px) {
          .pwl-calculator .results-container .results-item .benefits-results {
            top: 38%;
            -webkit-transform: translateY(-50%);
                    transform: translateY(-50%); } }

.home-case-study-section .x-text {
  margin-bottom: 25px; }
  @media screen and (min-width: 768px) {
    .home-case-study-section .x-text {
      margin-left: 60px;
      padding-left: 18px;
      border-left: 1px solid #2096c8; } }
.home-case-study-section .x-btn {
  border-color: #0e5473;
  color: #0e5473;
  text-transform: none !important;
  font-weight: 400;
  font-size: 14px;
  font-family: "Work Sans",sans-serif; }
  @media screen and (min-width: 768px) {
    .home-case-study-section .x-btn {
      float: left;
      margin-left: 79px; } }
  .home-case-study-section .x-btn:hover {
    border-color: #2096c8 !important;
    color: #2096c8 !important; }

.wpgmaps_directions_outer_div {
  width: 100% !important; }

@media screen and (min-width: 768px) {
  .home-hub .x-column.x-1-2 {
    margin-right: 2%; }
  .home-hub .x-column.x-1-4 {
    margin-right: 2%;
    width: 24%; }
    .home-hub .x-column.x-1-4:last-child {
      margin-right: 0; } }
.home-hub .x-promo {
  position: relative;
  margin-bottom: 22px;
  border: none;
  border-radius: 0;
  background-color: #2096c8;
  box-shadow: none; }
  .home-hub .x-promo:hover .x-promo-image-wrap {
    opacity: 0.5; }
.home-hub .x-promo-image-wrap {
  position: relative;
  z-index: 1;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s; }
.home-hub .x-column.x-sm.x-1-2 img {
  height: 580px; }
.home-hub .x-column.x-sm.x-1-2 span {
  font-size: 32px; }
.home-hub .x-promo-content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 118, 168, 0.8);
  color: #fff; }
  .home-hub .x-promo-content a {
    display: block;
    width: 100%;
    height: 100%; }
    .home-hub .x-promo-content a span {
      position: absolute;
      top: 50%;
      left: 0;
      padding: 0 20px;
      width: 100%;
      color: #fff;
      text-align: center;
      font-size: 20px;
      line-height: normal;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
    .home-hub .x-promo-content a i.download:before {
      display: block;
      margin-bottom: 5px;
      content: "\f019";
      font-style: normal;
      font-size: 32px;
      font-family: "FontAwesome"; }

.single-products .x-flexslider-shortcode-container .flex-direction-nav {
  display: none; }
  @media screen and (min-width: 768px) {
    .single-products .x-flexslider-shortcode-container .flex-direction-nav {
      display: block; } }
.single-products .x-flexslider-shortcode-container .flex-control-nav {
  display: block; }
  @media screen and (min-width: 768px) {
    .single-products .x-flexslider-shortcode-container .flex-control-nav {
      display: none; } }

.footer-nav-menu {
  text-align: left; }
  @media screen and (max-width: 768px) {
    .footer-nav-menu {
      text-align: center; } }

.social-network-links {
  display: block; }
  .social-network-links a {
    display: inline-block;
    margin-right: 6px;
    font-weight: normal !important;
    font-style: normal !important;
    font-size: 16px;
    font-family: "FontAwesome" !important; }
    .social-network-links a.social-facebook:before {
      content: "\f09a"; }
    .social-network-links a.social-twitter:before {
      content: "\f099"; }
    .social-network-links a.social-linkedin:before {
      content: "\f0e1"; }

.country-select {
  display: inline-block;
  margin-left: 30px;
  color: #2096c8;
  vertical-align: middle;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  line-height: 1.7; }
  @media screen and (max-width: 768px) {
    .country-select {
      display: block;
      margin: 50px 0; } }
  .country-select span {
    display: inline-block;
    margin-right: 10px; }
    @media screen and (max-width: 768px) {
      .country-select span {
        display: block;
        margin: 0 0 10px 0; } }
  .country-select a {
    display: inline-block;
    vertical-align: middle; }
    .country-select a img {
      display: block;
      width: auto;
      height: 19px; }
      @media screen and (max-width: 768px) {
        .country-select a img {
          height: 22px; } }

.single-post .entry-content {
  margin-top: 0; }

.single-post .entry-content.content {
  margin-top: 0; }

.facetwp-template .row {
  margin-bottom: 45px; }

.tablepress tbody td {
  color: #fff;
  text-align: center; }

body.lock {
  position: fixed;
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  width: 100vw;
  height: 100%;
  height: 100vh; }

div#x-root {
  margin-top: 48px; }

.navigation-bar {
  position: fixed;
  top: 0;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 40px;
  width: 100%;
  background-color: #fff; }
  @media screen and (max-width: 1240px) {
    .navigation-bar {
      padding: 30px 40px; } }
  .navigation-bar .navigation-bar-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 1400px;
    width: 100%; }
  @media screen and (max-width: 1240px) {
    .navigation-bar .menu-primary-menu-container {
      padding: 0 20px;
      max-width: 100%;
      width: 400px; } }
  .navigation-bar a {
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out; }
    @media screen and (min-width: 1240px) {
      .navigation-bar a:hover {
        background-color: #e0dfdf;
        color: #2194c6; } }
  .navigation-bar .header-logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 40px; }
    .navigation-bar .header-logo:hover {
      background-color: transparent; }
    @media screen and (max-width: 1240px) {
      .navigation-bar .header-logo {
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
            -ms-flex-order: 2;
                order: 2;
        margin-right: auto;
        margin-left: auto;
        padding-right: 0; } }
    @media screen and (max-width: 380px) {
      .navigation-bar .header-logo img {
        max-width: 75%;
        width: 50%; } }
    .navigation-bar .header-logo img {
      max-height: 40px;
      width: auto;
      max-width: 202px; }
  .navigation-bar.active {
    z-index: 100000000; }
    @media screen and (max-width: 1240px) {
      .navigation-bar.active .header-logo {
        margin-right: 85px; } }
    .navigation-bar.active .tcon-menu--xcross.tcon-transform .tcon-menu__lines::before, .navigation-bar.active .tcon-menu--xcross.tcon-transform .tcon-menu__lines::after {
      background: #fff; }
    .navigation-bar.active .tcon-menu--xcross.tcon-transform .tcon-menu__lines::after {
      background: #fff; }
  .navigation-bar ul {
    margin-bottom: 0;
    padding-bottom: 0;
    list-style-type: none;
    font-size: 0; }
    .navigation-bar ul li {
      position: relative;
      display: inline-block;
      cursor: pointer; }
      @media screen and (max-width: 1240px) {
        .navigation-bar ul li {
          margin-left: 0;
          padding-left: 0; } }
      .navigation-bar ul li a {
        color: #004a6c;
        font-size: 16px; }
        @media screen and (min-width: 1240px) {
          .navigation-bar ul li a {
            display: block;
            padding: 31px 30px; } }
      @media screen and (min-width: 1240px) {
        .navigation-bar ul li:hover .sub-menu {
          top: 89px;
          left: 0;
          max-width: 10000px;
          width: 10000px !important; }
          .navigation-bar ul li:hover .sub-menu.place-right {
            right: 0;
            left: auto;
            text-align: right; } }
      @media screen and (min-width: 1240px) {
        .navigation-bar ul li:hover .sub-menu li {
          width: auto;
          background-color: #fff;
          text-align: center; }
          .navigation-bar ul li:hover .sub-menu li a {
            background-color: #efefef; }
            .navigation-bar ul li:hover .sub-menu li a:hover {
              background-color: #efefef; } }
      @media screen and (max-width: 1240px) {
        .navigation-bar ul li:hover .sub-menu {
          position: static;
          max-width: auto; }
          .navigation-bar ul li:hover .sub-menu li {
            padding: 0;
            background-color: transparent; } }
      .navigation-bar ul li .sub-menu {
        position: absolute;
        bottom: -90%;
        left: -999%;
        z-index: 99999;
        margin-left: 0;
        max-width: 300px; }
        @media screen and (max-width: 1240px) {
          .navigation-bar ul li .sub-menu {
            position: static;
            margin-top: 10px;
            padding-left: 0px;
            max-width: inherit; }
            .navigation-bar ul li .sub-menu li {
              padding: 0;
              background-color: transparent; }
              .navigation-bar ul li .sub-menu li a {
                display: block;
                padding: 10px;
                font-size: 18px; } }
  .navigation-bar .desktop-hide {
    display: none;
    padding-bottom: 1rem; }
    @media screen and (max-width: 1240px) {
      .navigation-bar .desktop-hide {
        display: block; } }
    .navigation-bar .desktop-hide a {
      padding-bottom: 1rem;
      border-bottom: 1px solid white; }

.admin-bar .navigation-bar {
  top: 32px; }

@media screen and (max-width: 782px) {
  .admin-bar .navigation-bar {
    top: 46px; } }
.navigation-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out; }
  @media screen and (max-width: 1240px) {
    .navigation-wrapper {
      display: none; } }
  .navigation-wrapper .mobile-display {
    display: none; }
  .navigation-wrapper.active {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #005581; }
    @media screen and (max-width: 1240px) and (max-height: 700px) {
      .navigation-wrapper.active {
        overflow-y: scroll;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        padding-bottom: 40px;
        height: 100%; } }
    .navigation-wrapper.active .mobile-display {
      display: block;
      margin: 0 auto; }
    .navigation-wrapper.active img.mobile-display {
      position: absolute;
      top: 28px;
      margin-bottom: 40px;
      max-width: 60%;
      width: 203px; }
      @media screen and (max-width: 1240px) and (max-height: 700px) {
        .navigation-wrapper.active img.mobile-display {
          position: static;
          margin-top: 40px;
          height: auto; } }
    .navigation-wrapper.active section.mobile-display.social {
      display: block;
      margin: 0 auto;
      margin-top: 40px;
      padding: 0 20px;
      padding-top: 20px;
      max-width: 100%;
      width: 400px;
      color: #fff;
      text-align: left;
      font-size: 22px;
      font-family: "FontAwesome" !important; }
      .navigation-wrapper.active section.mobile-display.social a {
        padding: 10px;
        color: #fff; }
        .navigation-wrapper.active section.mobile-display.social a:first-child {
          padding-left: 0; }
      .navigation-wrapper.active section.mobile-display.social a.social-facebook:before {
        content: "\f09a"; }
      .navigation-wrapper.active section.mobile-display.social a.social-twitter:before {
        content: "\f099"; }
      .navigation-wrapper.active section.mobile-display.social a.social-linkedin:before {
        content: "\f0e1"; }
    .navigation-wrapper.active ul {
      display: block;
      margin-left: 0;
      padding-left: 0; }
      .navigation-wrapper.active ul li {
        display: block;
        padding-top: 10px; }
        .navigation-wrapper.active ul li a {
          color: #fff;
          font-size: 24px; }
  .navigation-wrapper:after {
    display: block;
    clear: both;
    content: ''; }

.mobile-menu-button {
  display: none;
  margin-left: auto; }
  @media screen and (max-width: 1240px) {
    .mobile-menu-button {
      position: relative;
      position: absolute;
      left: 40px;
      z-index: 100;
      display: block;
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1; } }
  .mobile-menu-button.active {
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 22;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 40px;
    width: 100%;
    height: 20px;
    text-align: right; }

.tcon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }
  .tcon > * {
    display: block; }
  .tcon:hover, .tcon:focus {
    outline: none; }
  .tcon::-moz-focus-inner {
    border: 0; }

.tcon-menu__lines {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 2px;
  border-radius: 2.1428571429px;
  background: #005581;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .tcon-menu__lines::before, .tcon-menu__lines::after {
    position: absolute;
    left: 0;
    width: 100%;
    content: '';
    -webkit-transform-origin: 2.1428571429px center;
            transform-origin: 2.1428571429px center;
    display: inline-block;
    width: 30px;
    height: 2px;
    border-radius: 2.1428571429px;
    background: #005581;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  .tcon-menu__lines::before {
    top: 8px; }
  .tcon-menu__lines::after {
    top: -8px; }
  .tcon-transform .tcon-menu__lines {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
            transform: scale3d(0.8, 0.8, 0.8); }

.tcon-menu--xcross {
  width: auto; }
  .tcon-menu--xcross.tcon-transform .tcon-menu__lines {
    background: transparent; }
    .tcon-menu--xcross.tcon-transform .tcon-menu__lines::before, .tcon-menu--xcross.tcon-transform .tcon-menu__lines::after {
      top: 0;
      width: 30px;
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%; }
    .tcon-menu--xcross.tcon-transform .tcon-menu__lines::before {
      -webkit-transform: rotate3d(0, 0, 1, 45deg);
              transform: rotate3d(0, 0, 1, 45deg); }
    .tcon-menu--xcross.tcon-transform .tcon-menu__lines::after {
      -webkit-transform: rotate3d(0, 0, 1, -45deg);
              transform: rotate3d(0, 0, 1, -45deg); }

.tcon-visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0; }
  .tcon-visuallyhidden:active, .tcon-visuallyhidden:focus {
    position: static;
    overflow: visible;
    clip: auto;
    margin: 0;
    width: auto;
    height: auto; }

.offcanvas-search {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000000;
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  overflow: hidden;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 100%;
  background-color: #005581;
  opacity: 0;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  pointer-events: none; }
  .offcanvas-search #close-search {
    display: none; }
  .offcanvas-search.active {
    opacity: 1;
    pointer-events: auto; }
    .offcanvas-search.active #close-search {
      position: absolute;
      top: 40px;
      left: 0;
      z-index: 22;
      display: block;
      padding-right: 40px;
      width: 100%;
      height: 20px;
      text-align: right; }
      .offcanvas-search.active #close-search img {
        max-width: 100%;
        max-height: 100%; }
    .offcanvas-search.active form#searchform {
      padding: 200px 40px 0px 40px;
      padding: 40vh 5vw;
      max-width: 100%;
      width: 800px; }
  .offcanvas-search:after {
    display: block;
    clear: both;
    content: ''; }
  .offcanvas-search .search-wrapper {
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: 800px; }
  .offcanvas-search input#archive_query {
    padding-right: 40px;
    padding-left: 0;
    max-width: 100%;
    width: 100%;
    border: none;
    border-bottom: solid 2px #fff;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
    color: #fff;
    font-size: 36px; }
    @media screen and (max-width: 1240px) {
      .offcanvas-search input#archive_query {
        font-size: 30px; } }
    @media screen and (max-width: 768px) {
      .offcanvas-search input#archive_query {
        font-size: 24px; } }
  .offcanvas-search input#searchsubmit {
    position: absolute;
    top: 45%;
    right: 0px;
    display: block;
    padding: 0;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent !important;
    background-image: url(../images/search-white.svg);
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
    .offcanvas-search input#searchsubmit:hover {
      border-color: transparent;
      background-color: transparent; }

.search-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 100px; }
  .search-button:hover {
    background-color: transparent !important; }
  @media screen and (max-width: 1460px) {
    .search-button {
      padding-left: 60px;
      min-width: auto; } }
  @media screen and (max-width: 1240px) {
    .search-button {
      position: absolute;
      right: 40px;
      -webkit-box-ordinal-group: 4;
      -webkit-order: 3;
          -ms-flex-order: 3;
              order: 3;
      margin-right: auto;
      margin-left: auto;
      padding-right: 0;
      padding-left: 0;
      min-width: auto; } }
  .search-button p {
    margin-bottom: 0;
    padding-bottom: 0;
    max-width: 100%;
    width: 200px;
    border-bottom: solid 1px #004a6c;
    color: #004a6c;
    font-size: 16px; }
    @media screen and (max-width: 1460px) {
      .search-button p {
        display: none; } }
  .search-button .search-image {
    padding-left: 10px;
    max-width: initial;
    max-height: 20px;
    max-width: 30px;
    max-height: 20px; }

div.hbspt-form {
  font-family: 'Work Sans'; }
  div.hbspt-form span {
    font-family: 'Work Sans';
    font-weight: 400;
    color: #0e5473; }
  div.hbspt-form input {
    font-size: inherit;
    font-family: inherit;
    padding: 5px 4px;
    letter-spacing: normal;
    display: inline-block;
    height: 2.65em;
    margin: 3px 0;
    line-height: 2.65em;
    -webkit-transition: border linear 0.2s,box-shadow linear 0.2s;
    transition: border linear 0.2s,box-shadow linear 0.2s;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-sizing: border-box !important;
    vertical-align: middle; }
    div.hbspt-form input[type="submit"] {
      height: 2.65em;
      margin-top: 32px;
      width: 270px;
      max-width: 100%;
      font-size: 14px !important;
      font-family: 'Work Sans' !important;
      margin: 0 16px 0 0;
      display: inline-block;
      cursor: pointer;
      -webkit-appearance: button;
      font-weight: 300;
      text-shadow: none !important;
      color: #ffffff;
      border-color: #2096c8;
      background-color: #2096c8;
      padding: 0.579em 1.105em 0.842em;
      box-sizing: border-box !important;
      background-image: none;
      box-shadow: none;
      border-radius: 0;
      border: none !important; }
  div.hbspt-form .actions {
    padding: 0 !important;
    padding-left: 20px !important;
    margin-top: 10px; }

.something {
  height: 2.65em;
  margin-top: 32px;
  width: 270px;
  max-width: 100%;
  font-size: 14px !important;
  font-family: 'Work Sans' !important;
  margin: 0 16px 0 0;
  display: inline-block;
  cursor: pointer;
  -webkit-appearance: button;
  font-weight: 300;
  text-shadow: none !important;
  color: #ffffff;
  border-color: #2096c8;
  background-color: #2096c8;
  padding: 0.579em 1.105em 0.842em;
  box-sizing: border-box !important;
  background-image: none;
  box-shadow: none;
  border-radius: 0;
  border: none !important; }

.custom-headings h3 {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px; }
  .custom-headings h3:after {
    content: '';
    width: 40px;
    height: 2px;
    background-color: #2096c8;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0; }

#x-section-1.hero-slider {
  padding-top: 45px !important; }

.hero-slider {
  padding: 0; }
  .hero-slider .x-flexslider-shortcode-container {
    margin-bottom: 6px; }
  .hero-slider ul.flex-direction-nav {
    position: absolute;
    bottom: 60px;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
    z-index: 2; }
    .hero-slider ul.flex-direction-nav li.flex-nav-prev {
      position: absolute;
      left: -100px; }
      .hero-slider ul.flex-direction-nav li.flex-nav-prev .flex-direction-nav a.flex-next {
        left: 0; }
    .hero-slider ul.flex-direction-nav li.flex-nav-next {
      position: absolute;
      right: -60px; }
      .hero-slider ul.flex-direction-nav li.flex-nav-next a.flex-next {
        left: 0; }
    .hero-slider ul.flex-direction-nav a {
      background: transparent; }
  .hero-slider .flex-control-nav {
    padding: 0 4px;
    line-height: 1;
    text-align: center;
    background-color: transparent;
    border-radius: 4px;
    position: absolute;
    bottom: 5px;
    left: 50%;
    top: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
    z-index: 2; }
    .hero-slider .flex-control-nav a {
      background-color: transparent;
      border: solid 1px #fff;
      border-radius: 0; }
      .hero-slider .flex-control-nav a.flex-active {
        background-color: #004A6C; }
  .hero-slider li.x-slide {
    width: 100%;
    height: 60vh;
    border-bottom: solid 5px #fff;
    background-size: cover;
    background-position: center center;
    position: relative;
    color: #fff;
    min-height: 600px; }
    .hero-slider li.x-slide:after {
      display: block;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.25); }
    .hero-slider li.x-slide .header-inner-container {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      height: 100%;
      width: 100%;
      position: relative;
      z-index: 2;
      min-height: 600px; }
      .hero-slider li.x-slide .header-inner-container .header-inner {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin: 0 auto;
        max-width: calc(1024px + 80px);
        padding: 40px;
        width: 100%;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; }
      .hero-slider li.x-slide .header-inner-container h1 {
        color: #fff;
        font-weight: 100;
        color: #FFFFFF;
        font-family: "Work Sans";
        font-size: 46px;
        line-height: 54px;
        width: 538px;
        max-width: 100%;
        display: block; }
        @media only screen and (max-width: 768px) {
          .hero-slider li.x-slide .header-inner-container h1 {
            font-size: 32px; } }
        .hero-slider li.x-slide .header-inner-container h1 strong {
          font-weight: bold; }
      .hero-slider li.x-slide .header-inner-container p a {
        color: #fff;
        padding: 20px 50px;
        border: solid 1px #fff;
        font-size: 14px;
        margin-top: 20px;
        display: block;
        -webkit-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out; }
        .hero-slider li.x-slide .header-inner-container p a:hover {
          background-color: #fff;
          color: #005581; }

.x-section.testimonial-section .testimonial-title {
  display: none; }
.x-section.testimonial-section .flex-direction-nav {
  display: none !important; }
.x-section.testimonial-section li.x-slide {
  width: 620px;
  color: #063959;
  font-family: "Work Sans";
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  text-align: center; }
  .x-section.testimonial-section li.x-slide strong {
    display: block;
    padding-top: 20px;
    color: #2095C7;
    font-family: "Work Sans";
    font-size: 14px;
    font-weight: 600;
    line-height: 30px; }
.x-section.testimonial-section .x-flexslider-shortcode-container {
  margin: 20px 0 30px 0;
  padding: 0 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.x-section.services-columns {
  border-bottom: solid 6px #fff; }
  .x-section.services-columns .x-column {
    float: left;
    margin-right: 1%; }
    .x-section.services-columns .x-column:last-of-type {
      margin-right: 0; }
  .x-section.services-columns .x-column.x-1-2 {
    min-height: 400px;
    background-position: center center;
    background-size: cover;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative; }
    @media only screen and (min-width: 768px) {
      .x-section.services-columns .x-column.x-1-2 {
        width: 49.75%;
        margin-right: 0.5%; }
        .x-section.services-columns .x-column.x-1-2:last-of-type {
          margin-right: 0; } }
    .x-section.services-columns .x-column.x-1-2:after {
      display: block;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.25); }
    .x-section.services-columns .x-column.x-1-2 .x-text {
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      z-index: 2;
      position: absolute;
      top: 0;
      left: 0; }
      .x-section.services-columns .x-column.x-1-2 .x-text a {
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; }
      .x-section.services-columns .x-column.x-1-2 .x-text:hover .inner-box {
        background-color: rgba(0, 85, 129, 0.8);
        -webkit-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out; }
      .x-section.services-columns .x-column.x-1-2 .x-text .inner-box {
        color: #fff;
        padding: 54px 20px;
        margin: 0 108px;
        text-align: center;
        position: relative;
        z-index: 2;
        border: solid 2px #fff;
        background-color: rgba(255, 255, 255, 0.3);
        -webkit-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
        box-sizing: border-box;
        width: 364px;
        max-width: 90%; }
      @media only screen and (max-width: 768px) {
        .x-section.services-columns .x-column.x-1-2 .x-text {
          padding: 54px 54px; } }
      .x-section.services-columns .x-column.x-1-2 .x-text h2 {
        color: #fff;
        font-size: 27px;
        font-weight: 600;
        line-height: 32px;
        text-align: center;
        margin: 0; }
      .x-section.services-columns .x-column.x-1-2 .x-text h3 {
        color: #fff;
        font-size: 19px;
        font-weight: 300;
        line-height: 23px;
        text-align: center;
        margin: 0; }
  .x-section.services-columns .x-column.x-1-3 {
    min-height: 400px;
    background-position: center center;
    background-size: cover;
    display: block;
    position: relative; }
    @media only screen and (min-width: 768px) {
      .x-section.services-columns .x-column.x-1-3 {
        width: 33%;
        margin-right: 0.5%; }
        .x-section.services-columns .x-column.x-1-3:last-of-type {
          margin-right: 0; } }
    .x-section.services-columns .x-column.x-1-3 .x-text {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0; }
      .x-section.services-columns .x-column.x-1-3 .x-text:hover .inner-box {
        background-color: rgba(0, 74, 108, 0.95); }
      .x-section.services-columns .x-column.x-1-3 .x-text .inner-box {
        color: #fff;
        padding: 30px 40px;
        margin: 0;
        text-align: center;
        position: absolute;
        box-sizing: border-box;
        background-color: rgba(0, 74, 108, 0.8);
        -webkit-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        z-index: 2;
        width: 100%;
        bottom: 0;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
            -ms-flex-align: start;
                align-items: flex-start;
        text-align: left; }
      .x-section.services-columns .x-column.x-1-3 .x-text a {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        text-align: left;
        color: #fff;
        height: 100%;
        width: 100%; }
        .x-section.services-columns .x-column.x-1-3 .x-text a p {
          color: #fff; }
      .x-section.services-columns .x-column.x-1-3 .x-text h2 {
        color: #fff;
        font-size: 27px;
        font-weight: 600;
        line-height: 32px;
        text-align: left;
        margin: 0; }
      .x-section.services-columns .x-column.x-1-3 .x-text h3 {
        color: #fff;
        font-size: 19px;
        font-weight: 300;
        line-height: 23px;
        text-align: left;
        margin: 0; }
      .x-section.services-columns .x-column.x-1-3 .x-text p {
        color: #FFFFFF;
        font-family: "Work Sans";
        font-size: 14px;
        font-weight: 300;
        line-height: 16px;
        text-align: left; }

body.home .x-container.max {
  max-width: 1600px; }

.hero-slider-small {
  padding: 0; }
  .hero-slider-small .slider-thumbnail.has-video {
    position: relative; }
    .hero-slider-small .slider-thumbnail.has-video:after {
      content: "\f144";
      font-family: FontAwesome;
      color: #fff;
      font-size: 36px;
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      text-align: center;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
  .hero-slider-small .x-flexslider-shortcode-container {
    margin-bottom: 6px; }
  .hero-slider-small ul.flex-direction-nav {
    position: absolute;
    bottom: 60px;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
    z-index: 2;
    display: block !important; }
    .hero-slider-small ul.flex-direction-nav li.flex-nav-prev {
      position: absolute;
      left: -140px; }
      .hero-slider-small ul.flex-direction-nav li.flex-nav-prev .flex-direction-nav a.flex-next {
        left: 0; }
    .hero-slider-small ul.flex-direction-nav li.flex-nav-next {
      position: absolute;
      right: -100px; }
      .hero-slider-small ul.flex-direction-nav li.flex-nav-next a.flex-next {
        left: 0; }
    .hero-slider-small ul.flex-direction-nav a {
      background: transparent; }
  .hero-slider-small .flex-control-nav {
    padding: 0 4px;
    line-height: 1;
    text-align: center;
    background-color: transparent;
    border-radius: 4px;
    position: absolute;
    bottom: 5px;
    left: 50%;
    top: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
    z-index: 2;
    display: block !important; }
    .hero-slider-small .flex-control-nav a {
      background-color: transparent;
      border: solid 1px #fff;
      border-radius: 0; }
      .hero-slider-small .flex-control-nav a.flex-active {
        background-color: #004A6C; }
  .hero-slider-small li.x-slide {
    width: 100%;
    height: 400px;
    border-bottom: solid 0px #fff;
    background-size: cover;
    background-position: center center;
    position: relative;
    color: #fff;
    min-height: 400px; }
    .hero-slider-small li.x-slide:after {
      display: block;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background: rgba(255, 255, 255, 0.25);
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to bottom left, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
      /* Chrome 10-25, Safari 5.1-6 */
      background: -webkit-linear-gradient(top right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
      background: linear-gradient(to bottom left, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
    .hero-slider-small li.x-slide .header-inner-container {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      height: 100%;
      width: 100%;
      position: relative;
      z-index: 2;
      min-height: 600px; }
      .hero-slider-small li.x-slide .header-inner-container .header-inner {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin: 0 auto;
        max-width: calc(1024px + 80px);
        padding: 40px;
        width: 100%;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; }
      .hero-slider-small li.x-slide .header-inner-container h1 {
        color: #fff;
        font-weight: 100;
        color: #FFFFFF;
        font-family: "Work Sans";
        font-size: 46px;
        line-height: 54px;
        width: 538px;
        max-width: 100%;
        display: block; }
        @media only screen and (max-width: 768px) {
          .hero-slider-small li.x-slide .header-inner-container h1 {
            font-size: 32px; } }
        .hero-slider-small li.x-slide .header-inner-container h1 strong {
          font-weight: bold; }
      .hero-slider-small li.x-slide .header-inner-container p a {
        color: #fff;
        padding: 20px 50px;
        border: solid 1px #fff;
        font-size: 14px;
        margin-top: 20px;
        display: block;
        -webkit-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out; }
        .hero-slider-small li.x-slide .header-inner-container p a:hover {
          background-color: #fff;
          color: #005581; }

body.single-products div#x-section-1 {
  padding-top: 80px !important; }
body.single-products .x-text h1 {
  color: #005581;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px; }
body.single-products .x-text h2 {
  color: #005581;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px; }
body.single-products .x-text h3 {
  color: #1E82BB;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px; }
body.single-products .x-text p {
  color: #005581;
  font-size: 14px;
  line-height: 20px; }
body.single-products .x-text a.arrow-button {
  padding: 11px 30px;
  background-color: #00a6dd;
  color: #EBEBEB;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  min-width: 225px;
  position: relative; }
  body.single-products .x-text a.arrow-button:hover {
    opacity: 0.8; }
  body.single-products .x-text a.arrow-button:after {
    content: "\f178";
    font-family: FontAwesome;
    color: #fff;
    padding-left: 10px;
    position: absolute;
    right: 20px; }
  body.single-products .x-text a.arrow-button.dark {
    background-color: #004A6C; }
body.single-products .x-text a.user-guide {
  padding: 11px 30px;
  border: solid 1px #004A6C;
  color: #004A6C;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  min-width: 225px;
  position: relative; }
  body.single-products .x-text a.user-guide:hover {
    opacity: 0.8; }
  body.single-products .x-text a.user-guide:after {
    content: "\f019";
    font-family: FontAwesome;
    color: #004A6C;
    padding-left: 10px;
    position: absolute;
    right: 20px; }
body.single-products .x-nav-tabs {
  border: 1px solid #E0E5E9;
  border-top: none;
  box-shadow: none; }
  @media only screen and (min-width: 768px) {
    body.single-products .x-nav-tabs {
      border-right: none; } }
  body.single-products .x-nav-tabs li {
    border-bottom: none; }
    @media only screen and (max-width: 768px) {
      body.single-products .x-nav-tabs li {
        width: 50%;
        display: inline-block; } }
  body.single-products .x-nav-tabs li.x-nav-tabs-item {
    border-top: 1px solid #E0E5E9; }
    @media only screen and (min-width: 768px) {
      body.single-products .x-nav-tabs li.x-nav-tabs-item {
        width: 20%;
        display: inline-block; } }
    body.single-products .x-nav-tabs li.x-nav-tabs-item a {
      font-family: "Work Sans" !important;
      font-size: 14px !important;
      font-weight: 600 !important;
      line-height: 16px !important;
      text-align: center !important;
      color: #005581;
      text-transform: uppercase;
      background-color: #E0E5E9;
      box-shadow: none;
      border-right: 1px solid #E0E5E9;
      cursor: pointer; }
    body.single-products .x-nav-tabs li.x-nav-tabs-item.active a {
      background-color: #fff; }
    body.single-products .x-nav-tabs li.x-nav-tabs-item:last-child {
      border-right: 1px solid #E0E5E9; }
  body.single-products .x-nav-tabs > .active > a {
    box-shadow: none; }
body.single-products .x-tab-content {
  box-shadow: none !important;
  margin-bottom: 40px; }
  body.single-products .x-tab-content div.split-columns {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2; }
    @media only screen and (max-width: 768px) {
      body.single-products .x-tab-content div.split-columns {
        -webkit-column-count: 1;
           -moz-column-count: 1;
                column-count: 1; } }
  body.single-products .x-tab-content ul li {
    margin-top: 10px; }
@media only screen and (min-width: 980px) {
  body.single-products .x-column.x-sm.x-1-2 {
    height: 400px; }
    body.single-products .x-column.x-sm.x-1-2 .x-text {
      position: relative;
      height: calc(100% - 10px ); }
      body.single-products .x-column.x-sm.x-1-2 .x-text div.button-wrapper {
        position: absolute;
        bottom: 0;
        left: 0; } }
body.single-products .x-column.x-sm.x-1-2 .x-flexslider-shortcode-container {
  height: 400px;
  background-color: #00a6dd;
  background-image: url("../images/logo-white.png");
  background-repeat: no-repeat;
  background-position: center center; }
body.single-products .x-column.x-1-3 {
  min-height: 300px !important;
  background-position: center center;
  background-size: cover;
  display: block;
  position: relative; }
  body.single-products .x-column.x-1-3.go-back .x-text .inner-box {
    height: 100%;
    width: 100%;
    background-color: #00a6dd !important;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }
    body.single-products .x-column.x-1-3.go-back .x-text .inner-box h2 {
      text-align: center; }
    body.single-products .x-column.x-1-3.go-back .x-text .inner-box p {
      display: inline-block;
      margin: 0 auto;
      width: auto;
      text-align: center; }
      body.single-products .x-column.x-1-3.go-back .x-text .inner-box p a {
        margin-top: 20px; }
        body.single-products .x-column.x-1-3.go-back .x-text .inner-box p a:before {
          content: "\f177";
          font-family: FontAwesome;
          color: #fff;
          padding-right: 10px; }
        body.single-products .x-column.x-1-3.go-back .x-text .inner-box p a:after {
          display: none; }
body.single-products .x-tab-pane.fade.in {
  overflow: scroll; }
  body.single-products .x-tab-pane.fade.in::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 1px;
    height: 10px; }
  body.single-products .x-tab-pane.fade.in::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5); }
body.single-products a.read-more-link {
  display: none;
  padding: 10px 0px; }
  @media only screen and (max-width: 768px) {
    body.single-products a.read-more-link {
      display: block;
      padding: 10px 0px; } }
body.single-products div.read-more-content {
  display: block; }
  @media only screen and (max-width: 768px) {
    body.single-products div.read-more-content {
      display: none; }
      body.single-products div.read-more-content.active {
        display: block; } }

.offcanvas-request-quote {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000000;
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  overflow: scroll;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 100%;
  background-color: #005581;
  opacity: 0;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  pointer-events: none; }
  .offcanvas-request-quote #close-offcanvas-request-quote {
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 22;
    display: block;
    padding-right: 40px;
    width: 100%;
    height: 20px;
    text-align: right; }
    .offcanvas-request-quote #close-offcanvas-request-quote img {
      max-width: 100%;
      max-height: 100%; }
  .offcanvas-request-quote.active {
    opacity: 1;
    pointer-events: auto; }
    .offcanvas-request-quote.active #close-search {
      position: absolute;
      top: 40px;
      left: 0;
      z-index: 22;
      display: block;
      padding-right: 40px;
      width: 100%;
      height: 20px;
      text-align: right; }
      .offcanvas-request-quote.active #close-search img {
        max-width: 100%;
        max-height: 100%; }
    .offcanvas-request-quote.active form#searchform {
      padding: 200px 40px 0px 40px;
      padding: 40vh 5vw;
      max-width: 100%;
      width: 800px; }
  .offcanvas-request-quote:after {
    display: block;
    clear: both;
    content: ''; }
  .offcanvas-request-quote .form-wrapper {
    padding: 150px 40px 100px 40px; }
  .offcanvas-request-quote #gform_1 .gform_body .custom-heading h3 {
    color: #fff;
    display: none; }
  .offcanvas-request-quote #gform_1 .gform_body .custom-heading h3 a {
    color: #fff; }
  .offcanvas-request-quote .gform_wrapper ul.gform_fields {
    color: #fff; }
  .offcanvas-request-quote .gform_wrapper ul.gfield_checkbox li label {
    color: #fff;
    display: none; }
  .offcanvas-request-quote label {
    display: none !important; }
  .offcanvas-request-quote .gform_wrapper ul {
    padding-left: 0 !important;
    margin-left: 0 !important; }
    .offcanvas-request-quote .gform_wrapper ul li.gfield {
      padding-right: 0 !important; }
    .offcanvas-request-quote .gform_wrapper ul input.medium, .offcanvas-request-quote .gform_wrapper ul select.medium {
      width: 100% !important; }
  .offcanvas-request-quote li.gfield.gsection.field_sublabel_below.field_description_below.gfield_visibility_visible {
    border-bottom: none; }
    .offcanvas-request-quote li.gfield.gsection.field_sublabel_below.field_description_below.gfield_visibility_visible h2 {
      color: #fff; }
  .offcanvas-request-quote .gform_wrapper div.validation_error {
    color: #ffbbbb;
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 25px;
    border-top: 2px solid #ffbbbb;
    border-bottom: 2px solid #ffbbbb;
    padding: 16px 0;
    clear: both;
    width: 100%;
    text-align: center;
    margin-bottom: 0; }
  .offcanvas-request-quote .gform_wrapper li.gfield.gfield_error, .offcanvas-request-quote body .gform_wrapper li.gfield.gfield_error.gfield_contains_required {
    border: 0px solid;
    padding: 0 !important;
    border-color: transparent;
    color: #ffbbbb;
    background-color: #015481;
    max-width: 100% !important; }
  .offcanvas-request-quote .gform_wrapper li.gfield.gfield_error, .offcanvas-request-quote body .gform_wrapper li.gfield.gfield_error.gfield_contains_required {
    border: 2px solid !important;
    padding: 6px 10px !important;
    border-radius: 4px;
    border-color: #ff817f !important;
    color: #ff817f !important;
    background-color: transparent !important; }
  .offcanvas-request-quote .gfield_description.validation_message {
    color: #ffbbbb;
    font-size: 14px !important;
    padding-top: 0 !important;
    font-weight: 500 !important;
    opacity: 1 !important; }
  .offcanvas-request-quote .gform_wrapper span.gform_description {
    font-weight: 400;
    display: block;
    width: calc(100% - 16px);
    margin-bottom: 16px;
    color: #fff;
    max-width: 400px; }

.slider-background-image {
  height: 300px;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.cs_multi_slider_bottom {
  position: relative; }
  .cs_multi_slider_bottom .slick-list {
    width: calc(100% - 100px);
    padding: 0px 0px !important;
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto; }
    .cs_multi_slider_bottom .slick-list .slider-thumbnail.slick-slide {
      border: solid #fff 10px !important;
      background-size: cover; }
  .cs_multi_slider_bottom div.slick-arrow {
    border: none;
    font-size: 32px;
    color: #2195c7;
    cursor: pointer; }
  .cs_multi_slider_bottom div.slick-prev.slick-arrow {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0; }
  .cs_multi_slider_bottom div.slick-next.slick-arrow {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 0; }
