/**
 * Page styles
 */
.page .intro {
  color: #fff; }

.page .x-column.case_study {
  background-color: #2096C8 !important;
  color: #fff; }

.page .x-column.case_study .x-promo {
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 0;
  position: relative; }

.page .x-column.case_study .x-promo .x-promo-image-wrap:after {
  background-color: rgba(0, 0, 0, 0.3);
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.page .x-column.case_study .x-promo .x-promo-content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: transparent;
  width: 100%; }

.page .x-column.case_study .x-promo .x-promo-content .x-btn {
  background-color: transparent;
  border: #fff solid 1px;
  color: #fff; }

.page .x-column.case_study .x-promo .x-promo-content .x-btn:hover {
  background-color: rgba(32, 150, 200, 0.5); }

.page .x-column.case_study h2, .page .x-column.case_study h3, .page .x-column.case_study h4 {
  color: #fff;
  margin: 25px 0 10px;
  min-height: 72px;
  padding: 0 25px; }

.page .x-column.case_study .x-text {
  min-height: 70px;
  padding: 0px 25px; }

.page .x-video.embed {
  border: #dad8d8 solid 1px;
  border-radius: 0;
  box-shadow: none;
  padding: 0; }

#gform_1 .gform_heading {
  display: none; }

#gform_1 .gform_body .custom-heading h3 {
  color: #004b6b;
  letter-spacing: 0em !important;
  font-weight: 400;
  margin: 0 0 0.2em;
  font-size: 200%; }

#gform_1 .gform_body .custom-heading h3 a {
  color: #004b6b; }

.masthead {
  background-color: #2094c5; }

.masthead .location-selector {
  position: relative;
  font-size: 13px;
  padding: 10px 10px 10px 0px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff; }

.masthead .location-selector .locations {
  width: 300px;
  position: absolute;
  top: 27px;
  padding: 10px;
  z-index: 2000;
  display: none;
  background-color: #2094c5; }

.masthead .location-selector .locations a {
  display: block;
  font-size: 12px;
  padding: 5px;
  color: #fff; }

.masthead .location-selector .locations a img {
  max-width: 50px; }

.masthead .location-selector:hover > .locations {
  display: block; }

.hentry {
  margin-top: 0; }
