// Footer Border Colours

.x-colophon {
	border-top: none !important;
	box-shadow: none !important;

	.widget_nav_menu {

		.menu {

		}
	}
}

// Footer Styling
footer {
	.widget {
		ul {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			border: none;

			> li {
				flex: 1 1 auto;
				margin-bottom: 1rem;
				width: 100%;
				text-align: center;

				@media (min-width: 568px) {
					width: 50%;
					text-align: left;
				}

				@media (min-width: 640px) {
					width: auto;
				}

				&.facebook {
					display: inline-block;
					padding-right: 10px;
					width: auto;

					a {
						position: relative;
						display: flex;
						align-items: center;
						justify-content: center;
						width: 47px;
						height: 47px;
						border-radius: 50% !important;
						background-color: #2099c6;
						color: #fff;
						font-size: 0;

						&:after {
							color: #fff;
							content: "\f09a";
							font-size: 18px;
							font-family: FontAwesome;
							opacity: 1;
						}
					}
				}
				&.twitter {
					display: inline-block;
					padding-right: 10px;
					width: auto;

					a {
						position: relative;
						display: flex;
						align-items: center;
						justify-content: center;
						width: 47px;
						height: 47px;
						border-radius: 50% !important;
						background-color: #2099c6;
						color: #fff;
						font-size: 0;

						&:after {
							color: #fff;
							content: "\f099";
							font-size: 18px;
							font-family: FontAwesome;
							opacity: 1;
						}
					}
				}
				&.linkedin {
					display: inline-block;
					padding-right: 10px;
					width: auto;

					a {
						position: relative;
						display: flex;
						align-items: center;
						justify-content: center;
						width: 47px;
						height: 47px;
						border-radius: 50% !important;
						background-color: #2099c6;
						color: #fff;
						font-size: 0;

						&:after {
							color: #fff;
							content: "\f0e1";
							font-size: 18px;
							font-family: FontAwesome;
							opacity: 1;
						}
					}
				}

				a {
					padding: 0.65em 0.85em;
					padding-left: 0 !important;
					border-bottom: none;
					box-shadow: none;
					color: #202020;
					text-align: center;
					text-transform: uppercase;
					letter-spacing: normal;
					font-weight: 600;
					font-style: normal;
					font-stretch: normal;
					font-size: 16px;
					line-height: 1.44;

					@media (min-width: 568px) {
						text-align: left;
					}

					&:before {
						display: none;
					}
				}

				ul {
					display: block;

					li {
						width: 100%;

						a {
							padding-left: 0 !important;
							color: #202020;
							text-align: center;
							text-transform: none;
							letter-spacing: normal;
							font-weight: normal;
							font-style: normal;
							font-stretch: normal;
							font-size: 16px;
							line-height: 1.44;

							@media (min-width: 568px) {
								text-align: left;
							}
						}
					}
				}
			}
		}
	}
}

footer.x-colophon.top {

	.x-container.max.width {
		display: flex;
		flex-direction: column;
	}
	.x-column.x-md.x-1-2 {
		margin-right: 0;
		width: 100%;
	}

	.widget.widget_media_image {
		a {
			display: flex;
			flex-direction: column;
			width: 100%;

			img {
				margin-left: auto;
			}
		}
	}
}
