// Header Wraper

.x-navbar-wrap {
	.x-navbar {
		border-bottom: none;
		background-color: $brand-blue;
		box-shadow: none;

		.mobile .x-nav > li > a > span,
		.desktop .x-nav > li > a > span {
			color: #ffffff;
			text-align: left;
			letter-spacing: normal;
			font-weight: 600;
			font-style: normal;
			font-stretch: normal;
			font-size: 16px;
			line-height: 1.44;
		}

		.mobile .x-nav > li > a,
		.desktop .x-nav > li > a {
			padding-right: 10px !important;
			padding-left: 10px !important;
			color: #ffffff;
			text-align: left;
			letter-spacing: normal;
			font-weight: 600;
			font-style: normal;
			font-stretch: normal;
			font-size: 16px;
			line-height: 1.44;

			&:hover {
				border-radius: 0;
				background-color: #2099c6;
				box-shadow: none;
			}


			span {
				&::after {
					margin-left: 0.8rem;
					content: "\f107";
				}
			}
		}

		.desktop .x-nav {
			& > li > ul {
				top: 100%;
				left: 0;
				border-radius: 0;
				background: #f8f8f8;
				-webkit-box-shadow: 0 3px 3px rgba(0,0,0,.2);
				box-shadow: 0 3px 3px rgba(0,0,0,.2);

				& > li > a {
					padding: 1.6875rem 1.1875rem;
					color: #3a3a3a;
					text-transform: uppercase;
					font-size: 14px;
					line-height: 1.44;
					cursor: pointer;
				}
			}

			& > .x-active > a,
			& > .current-menu-item > a {
					background-color: #2099c6;
					box-shadow: none;
			}
		}

		.x-container.max.width {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			justify-content: space-between;

			@media (min-width: 980px) {
				justify-content: flex-start;
			}

			&::before,
			&::after {
				content: none;
			}
		}
	}
  .x-navbar .desktop .x-nav .sub-menu {
      .sub-menu {
          left: 100%;
         	padding: 1.6875rem 1.1875rem;
					color: #3a3a3a !important;
					text-transform: uppercase;
					font-size: 14px;
					line-height: 1.44;
					cursor: pointer;
          span {
					    color: #3a3a3a !important;
          }
      }
      li>a>span:after {
          content: "\f101"
      }
  }
	.x-btn-navbar {
		  margin-top: 0;
	}

	.x-brand {
		margin: 11px 46px 11px 0;
	}

  .x-navbar .desktop .sub-menu {
      
      min-width: 270px;
  }
  
}
