.single-post {

	.site {
		background: #F1F5F8;
	}

	.row {
		justify-content: center;
	}

	.column {
		display: block;
		margin: 0 auto;
		max-width: 585px;

		img {
			padding: 120px 0;
			max-width: 100%;
			height: auto;
		}
	}

	.entry-footer {
		padding: 0 40px 40px;
	}

	.entry-wrap {
		padding: 40px;
		border-radius: 0;
		box-shadow: none;

		h2,
		h3 {
			text-align: left;
		}

		p {
			text-align: left;
		}

		ul {
			color: #000;
			font-size: 16px;
			line-height: 1.81;
		}

		.entry-title {
			text-transform: uppercase;
			font-weight: 800;
			font-size: 150%;
			line-height: 1.2;
		}
	}

	.x-main,
	.x-sidebar {
		background: #fff;
	}

	.x-sidebar {
		padding: 40px;

		.h-widget {
			text-transform: uppercase;
			font-weight: 600;
			font-size: 18px;
		}

		.widget {

			ul {
				border: none;
				border-radius: 0;

				li,
				.cat-item {
					padding: 8px 0;
				}

				a {
					font-size: 16px;
				}
			}
		}

	}

	.x-comments-area {
		margin: 0;
		padding: 40px;

		p {
			text-align: left;

			input,
			textarea {
				font-size: 16px;
			}
		}

		label {
			text-transform: uppercase;
			font-size: 18px;
		}

		#reply-title,
		.comment-reply-title {
			margin-top: 0;
			margin-bottom: 30px;
			text-transform: uppercase;
			font-weight: 600;
			font-size: 26px;
		}

		.submit {
			position: relative;
			z-index: 2;
			display: inline-block;
			margin-top: 30px;
			padding: 13px 30px 14px 30px;
			border: 4px solid $brand-blue;
			border-radius: 0;
			background: $brand-blue;
			background-color: transparent;
			background-color: $brand-blue;
			box-shadow: none;
			color: #fff;
			text-align: center;
			text-transform: uppercase;
			text-shadow: none;
			letter-spacing: normal;
			font-weight: 700;
			font-style: normal;
			font-stretch: normal;
			font-size: 16px;
			line-height: 1.44;
			transition: all 300ms ease-in-out;

			&:hover {
				border-color: darken($brand-blue, 5%);
				background-color: darken($brand-blue, 5%);
			}
		}
	}
}

.blog {

	.site {
		background: #F1F5F8;
	}

	.post {
		padding: 0;
		border: none;
		box-shadow: none;
		transition: all 100ms ease-in-out;

		&:hover {
			.entry-featured,
			.entry-wrap {
				box-shadow: 0 20px 30px -15px rgba(0, 0, 0, 0.1);
			}
		}

		.entry-featured {
			overflow: hidden;
			max-height: 200px;
		}

		.entry-thumb {

			img {
				opacity: 1;
			}

			&::before,
			&::after {
				content: none;
			}
		}

		.entry-wrap {
			position: relative;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-direction: column;
			flex-direction: column;
			padding: 25px !important;
			min-height: 250px;
			border-radius: 0;
			box-shadow: none;

			.entry-title {
				margin-top: 20px;
				color: #202020;
				text-align: left;
				text-transform: uppercase;
				text-transform: uppercase;
				text-overflow: inherit;
				white-space: normal;
				letter-spacing: normal;
				font-weight: 700;
				font-style: normal;
				font-stretch: normal;
				font-size: 24px;
				line-height: 1.21;

				a:hover {
					color: $brand-blue;
				}
			}

			.entry-content {

				p {
					text-align: left;
				}

				.more-link {
					display: inline-block;
					align-self: flex-start;
					margin-top: 45px;
					padding-right: 3rem;
					background-position: right;
					background-size: auto 11px;
					background-repeat: no-repeat;
					color: #202020;
					text-align: left;
					text-decoration: underline;
					text-transform: uppercase;
					letter-spacing: normal;
					font-weight: 400;
					font-style: normal;
					font-stretch: normal;
					font-size: 16px;
					line-height: 1.44;
					transition: all 0ms ease;

					&:hover {
						background-image: url('../images/cta-arrow-right.svg');
						color: $brand-blue;
					}
				}
			}
		}

		.entry-footer.cf {
			display: none;
		}
	}

	.x-pagination {

		ul {

			a,
			span {
				border-radius: 0;
				box-shadow: none;
				color: #202020;
				text-shadow: none;

				&.current {
					color: #fff;
				}
			}
		}
	}
}
