/**
 * Page styles
 */
.page {

	.intro {
		color: $white;
	} // .intro

	.x-column.case_study {
		background-color: $blue !important;
		color: #fff;

		.x-promo {
			border-radius: 0;
			box-shadow: none;
			margin-bottom: 0;
			position: relative;

			.x-promo-image-wrap {
				&:after {
					background-color: rgba( 0, 0, 0, 0.3 );
					content: '';
					display: block;
					position: absolute;
					top: 0; left: 0;
					width: 100%; height: 100%;
				} // &:after
			} // .x-promo-image-wrap

			.x-promo-content {
				@include align-middle-center();
				background-color: transparent;
				width: 100%;

				.x-btn {
					background-color: transparent;
					border: #fff solid 1px;
					color: #fff;
					@include bg-hover( $blue, 0.5 );
				} // .x-btn
			} // .x-promo-content
		} // .x-promo

		h2, h3, h4 {
			color: #fff;
			margin: 25px 0 10px;
			min-height: 72px;
			padding: 0 25px;
		} // h2, h3, h4

		.x-text {
			min-height: 70px;
			padding: 0px 25px;
		} // .x-text

	} // .x-column.case_study

	.x-video.embed {
		border: lighten($grey, 20%) solid 1px;
		border-radius: 0;
		box-shadow: none;
		padding: 0;
	} // .x-video.embed
} // .page