footer.x-colophon.bottom {
    padding: 0;
    background: none;
    border-top: 0;

	.x-container.max.width {
	    display: flex;
	    flex-wrap: wrap;
	    padding: 0 !important;
	    background-image: none !important;
	}

	.footer-nav-menu {
	}

	// Right Hand Side
	.x-column.x-sm.cs-ta-right.x-1-3 {
	    display: flex;
	    justify-content: flex-end;
	    align-items: flex-end;
	    flex-direction: column;
	    padding-bottom: 40px !important;

	    .x-text {
	        color: #004A6C;
	        font-family: "Work Sans";
	        font-size: 10px;
	        font-weight: 300;
	        line-height: 18px;
	        text-align: right;
	        margin-top: 20px;
	    }

	    @media #{$tablet-up} {
		    width: 29.66666%;
	    }

	    @media #{$tablet} {
	    	padding-top: 40px !important;
	    	align-items: center;
	    }

	    // Social links

	    .social-network-links {
	        display: block;
	        margin: 60px 0px 30px 0;

	        @media #{$tablet} {
	        	margin: 30px 0px 10px 0;
	        }

	        a {
	            display: inline-block;
	            margin-right: 6px;
	            font-weight: normal !important;
	            font-style: normal !important;
	            font-size: 26px;
	            font-family: "FontAwesome" !important;
	            color: #fffd;
	            background-color: #00496b;
	            width: 40px;
	            height: 40px;
	            position: relative;

	            &:before {
	            	position: absolute;
	            	left: 50%;
	            	top: 50%;
	            	transform: translateY(-50%) translateX(-50%);
	            }
	        }
	    }
	}

	// Left Hand Side

	.x-column.x-sm.x-2-3 {
	    background-color: #E0E5E9;
	    padding: 40px !important;

	    @media #{$tablet-up} {
	    	width: 66.33332%;
	    	margin-right: 3%;
	    }

	    ul#menu-footer-menu {
	        margin-top: 30px;
	    }

	    #gform_1 .gform_body .custom-heading h3 {
	    	display: none;
	    }

	    h2.rounded {
	        color: #004A6C;
	        font-family: "Work Sans";
	        font-size: 27px;
	        font-weight: 600;
	        line-height: 30px;
	        margin-bottom: 30px;
	    }

	    // gravity forms
	    .gform_wrapper {
	    	max-width: 552px;

	    	.gform_footer.top_label {
	    	    margin-top: 0 !important;
	    	}

	    	input#gform_submit_button_1 {
	    		background-color: #004A6C;
	    		    padding: 11px 11px 12px 11px;
	    		    border: 0;
	    		    border-radius: 0;
	    		    background-image: url(../images/submit-arrow.png);
	    		    background-size: contain;
	    		    background-repeat: no-repeat;
	    		    background-position: center right;
	    		    padding-right: 60px;
	    		    box-sizing: border-box !important;
	    		    width: calc(50% - 16px);
	    	}


	    	label {
	    		display: none;
	    	}

	    	.gfield_checkbox {
	    		label {
	    			display: initial;
	    		}
	    		li {
	    			width: auto;
	    			display: inline-block;
	    			padding-right: 20px !important;
	    		}
	    	}

	    	.gfield_checkbox {
	    	  	position: relative; // take it out of document flow
	    	  	opacity: 1; // hide it

	    	  	input {
	    	  		height: auto !important;
	    	  		opacity: 0;
	    	  		display: none;
	  	  			// Box checked

	  	  			& + label {
	  	  				position: relative;
  	  				    cursor: pointer;
  	  				    padding: 0;
  	  				    font-size: 16px;
  	  				    color: #004A6C;
  	  				    font-weight: 500;
	  	  			}

	  	  			// Box.
	  	  			& + label:before {
	  	  			  content: '';
	  	  			  margin-right: 10px;
	  	  			  display: inline-block;
	  	  			  vertical-align: text-top;
	  	  			  width: 20px;
	  	  			  height: 20px;
	  	  			  background: white;
	  	  			  border: 1px solid #004A6C;	
	  	  			  background-color: #FFFFFF
	  	  			}
	  	  			
	  	  			// Box focus
	  	  			&:focus + label:before {
	  	  			  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
	  	  			}

	  	  			// Box checked
	  	  			&:checked + label:before {
	  	  			  background: #fff;
	  	  			}
	  	  			
	  	  			// Checkmark. Could be replaced with an image
	  	  			&:checked + label:after, &:hover + label:after  {
	  	  			  content: '';
	  	  			  position: absolute;
	  	  			  left: 5px;
	  	  			  top: 9px;
	  	  			  background: #004A6C;
	  	  			  width: 2px;
	  	  			  height: 2px;
	  	  			  box-shadow: 
	  	  			    2px 0 0 #004A6C,
	  	  			    4px 0 0 #004A6C,
	  	  			    4px -2px 0 #004A6C,
	  	  			    4px -4px 0 #004A6C,
	  	  			    4px -6px 0 #004A6C,
	  	  			    4px -8px 0 #004A6C;
	  	  			  transform: rotate(45deg);
	  	  			}
	    	  	}

	    	  	label {
	    	    	position: relative;
	    	    	cursor: pointer;
	    	    	padding: 0;

	    	    	&:hover {
	    	    		&:before {
				    	   	background: #fff;
				    	}
	    	    	}
    	    		&:focus {
    	    			&:before {
    	    	  			box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    	    	  		}
    	    		}
	    	  	}
	    	}

	    	.top_label div.ginput_container {
	    		margin-top: 0;
	    	}

	    	li.gfield {
	    	    display: inline-block;
	    	    width: 50%;
	    	    margin-top: 0;

	    	    @media #{$tablet} {
	    	    	width: 100%;
	    	    }

	    	    input {
	    	    	width: 100%;
	    	    	border: 1px solid #004A6C;
	    	    	border-radius: 0;
	    	    	height: 37px;
	    	    	padding: 10px;
	    	    	color: #004A6C;
	    	    	font-size: 12px;
	    	    	box-shadow: none;

	    	    }

	    	    &:nth-child(1) {
	    	    	display: none;
	    	    } 

	    	    &:nth-child(2) {
	    	    	width: 100%;
	    	    } 
	    	}
	    }

	    // Footer Menu 

	    ul#menu-footer-menu {
	    	li {
	    		position: relative;
	    		padding-right: 10px;
	    		margin-right: 10px;

	    		a {
	    			color: #004A6C;
	    			font-family: "Work Sans";
	    			font-size: 12px;
	    			line-height: 24px;
	    			text-transform: initial;
	    			letter-spacing: 0;
	    		}

	    		&:after {
	    			content: '';
    			    display: block;
    			    position: absolute;
    			    height: 60%;
    			    width: 1px;
    			    background-color: #004A6C;
    			    right: 0;
    			    top: 25%;
	    		}

	    		&:last-child {
		    		&:after {
		    			display: none;
		    		}

	    		}
	    	}
	    }
	}
}