// Align element vertically middle and centered
// Note: Remember to set the outer element to have a 'relative' position
@mixin align-middle-center( $left: 50%, $top: 50%, $position: absolute ) {
  
	position: $position;
	left: $left; 
	top: $top;

	-webkit-transform: translate( -$left, -$top );
	-ms-transform: translate( -$left, -$top );
	transform: translate( -$left, -$top );

}

// Background colour hover
@mixin bg-hover( $color: $blue, $opacity: 1 ){
	&:hover {
		background-color: rgba( $color, $opacity );
	}
}