// Tab Initial States

.tab {
	display: none;

	&.active {
		display: block;
	}
}

.x-container.tab {
    margin-bottom: 20px;
}

.x-search-shortcode.cornerstone-archive-search.search-page {
    margin-top: 0;
    margin-bottom: 40px;
}

.search-result {
    display: flex;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    border: solid 1px #efefef;
    margin-bottom: -1px;

    &:first-child {
    	border-top: 0;
    }

    .search-result-inner {
    	display: flex;
    	width: 100%;
    	flex-direction: row;
    	flex-wrap: wrap;
    	justify-content: flex-start;
    	align-items: flex-start;
    	padding: 40px;

        a {
            height: 100%;

            div {
                height: 100%;

                img {
                    height: 100%;
                }
            }
        }

    	img {
    		width: 290px;
    		height: 192px;
    		object-fit: cover;
            max-width: 100%;

            @media #{$tablet} {
                width: 100%;
            }   
    	}

    	.content-wrapper {
    		width: 50%;
    		max-width: 440px;
    		padding-left: 40px;

            @media #{$tablet} {
                width: 100%;
                padding-left: 0;
            }   

    		h3 {
    			color: #005581;
    			font-family: "Work Sans";
    			font-size: 24px;
    			font-weight: 600;
    			line-height: 28px;
    		}

    		p {
    			color: #005581;
    			font-family: "Work Sans";
    			font-size: 14px;
    			line-height: 20px;
    		}

            a.download-button {
                padding: 11px 30px;
                border: solid 1px #004A6C;
                color: #004A6C;
                display: inline-block;
                margin-right: 10px;
                margin-bottom: 0px;
                margin-top: 10px;
                font-size: 16px;
                font-weight: 600;
                line-height: 24px;
                transition: all 300ms ease-in-out;
                min-width: 165px;
                text-align: center;

                &:hover {
                    opacity: 0.8;
                }

                &:after {
                    content: "\f019";
                    font-family: FontAwesome;
                    color: #004A6C;
                    padding-left: 10px;
                }
            }

            div.arrow-button {
                padding: 11px 30px;
                background-color: #00a6dd;
                color: #EBEBEB;
                display: inline-block;
                margin-right: 10px;
                margin-bottom: 0px;
                margin-top: 10px;
                font-size: 16px;
                font-weight: 600;
                line-height: 24px;
                transition: all 300ms ease-in-out;
                cursor: pointer;
                color: #fff;
                min-width: 165px;
                text-align: center;

                &:hover {
                    opacity: 0.8;
                }

                &:after {
                    content: "\f178";
                    font-family: FontAwesome;
                    color: #fff;
                    padding-left: 10px;
                }

                &.dark {
                    background-color: #004A6C;
                }
            }

    	}
    }

    // Search BG IMG 

    .search-bg-img {
        background-color: #00a6dd;
        background-image: url('../images/logo-white.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        width: 290px;
        height: 192px;
        max-width: 100%;

        @media #{$tablet} {
            width: 100%;
        }   
    }
}

// Tab Menu

ul.tab-menu {
    display: block;
    max-width: 900px;
    margin: 0 auto;
    list-style-type: none;
    border-bottom: solid 1px #efefef;

    li {
    	display: inline-block;
    	margin-right: -1px;
    	margin-bottom: -1px;

    	button {
    		padding: 10px 60px;
    		background-color: #E0E5E9;
    		box-shadow: none;
    		-webkit-appearance: none;
    		border-radius: 0;
    		border: solid 1px #efefef;
    		color: #005581;
    		font-family: "Work Sans";
    		font-size: 14px;
    		font-weight: 600;
    		line-height: 16px;
    		text-align: center;
    		text-transform: uppercase;

    		&.active {
    			border-bottom: solid 1px #fff;
    			background-color: #fff;
    		}

    		&:focus {
    			outline: none;
    		}
    	}
    }
}

// Custom Form Styling

.cornerstone-archive-search.search-page {

    .x-container.tab {
        margin-bottom: 20px;
    }

    form#searchform {
        padding: 0;
        max-width: 100%;
        width: 800px;
        text-align: center;
        display: block;
    }

	input#archive_query {
	    padding-right: 40px;
	    padding-left: 0;
	    max-width: 100%;
	    width: 100%;
	    border: none;
	    border-bottom: solid 2px #005581;
	    border-radius: 0;
	    background-color: transparent;
	    box-shadow: none;
	    color: #005581;
	    font-size: 24px;

        @media screen and (max-width: 1240px) {
            font-size: 30px;
        }
        @media screen and (max-width: 768px) {
            font-size: 24px;
        }
	}

	input#searchsubmit {
		position: absolute;
		top: 45%;
		right: 0px;
		display: block;
		padding: 0;
		width: 30px;
		height: 30px;
		border: none;
		background-color: transparent !important;
		background-image: url(../images/search-blue.svg);
		background-size: contain;
		background-repeat: no-repeat;
		font-size: 0;
		transform: translateY(-50%);

		&:hover {
			border-color: transparent;
			background-color: transparent;
		}
	}

	.form-search .search-query-container:before {
		display: none;
	}
}

.clear-search-container {
    display: block;
    margin: 0 auto;
    text-align: center;

    .clear-search {
        display: inline-block;
        padding: 10px 20px;
        background-color: #00a6dd;
        color: #fff;
        margin-bottom: 100px;
    }
}