// Site Colours

$blue: 			#2096C8;
$blue_dark:		#004B69;
$grey:			#a8a4a4;
$white:			#fff;

$tablet: "only screen and (max-width: 768px)";
$tablet-up: "only screen and (min-width: 768px)";

$desktop-up: "only screen and (min-width: 980px)";