.custom-headings {

	h3 {
		position: relative;
		padding-bottom: 20px;
		margin-bottom: 20px;

		&:after {
			content: '';
			width: 40px;
			height: 2px;
			background-color: #2096c8;
			display: block;
			position: absolute;
			left: 0;
			bottom: 0;
		}
	}
}