// Custom Slick Slider

.slider-background-image {
    height: 300px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

// Bottom Navigation

.cs_multi_slider_bottom {
	position: relative;

	// Slick List Container For Sub Nav

	.slick-list {
		width: calc(100% - 100px);
	    padding: 0px 0px !important;
	    box-sizing: border-box;
	    text-align: center;
	    margin: 0 auto;

	    // Inner Thumnail Slide

	    .slider-thumbnail.slick-slide {
	        border: solid #fff 10px !important;
	        background-size: cover;
	    }
	}

	// Button Positioning

	div.slick-arrow {
	    border: none;
	    font-size: 32px;
	    color: #2195c7;
	    cursor: pointer;
	}

	div.slick-prev.slick-arrow {
	    position: absolute;
	    top: 50%;
	    transform: translateY(-50%);
	    left: 0;
	}

	div.slick-next.slick-arrow {
	    position: absolute;
	    top: 50%;
	    transform: translateY(-50%);
	    right: 0;
	}
}