.hentry {
    margin-top: 0;
}
.entry-content {
	margin-top: 0;
}

.downloadbtn {

	&.x-btn-jumbo {
		font-size: 64px;

		&.x-btn-transparent {

			&:hover {
				border-width: 0;
				border-color: transparent;
			}
		}
	}
}

.x-navbar {

	.x-nav {

		a {

			&:focus {
				outline: 0;
			}
		}
	}
}

.x-search-shortcode {
	margin-bottom: 50px;

	@media screen and (min-width: 600px) {
		margin: 50px 0 90px;
	}
}

.form-search {
	overflow: hidden;

	@media screen and (min-width: 600px) {
		display: flex;
		width: 100%;
	}

	&:before {
		display: none;
	}

	label {
		font-size: 20px;
		line-height: normal;

		@media screen and (min-width: 600px) {
			float: left;
			align-self: center;
			margin-bottom: 0 !important;
			padding-right: 30px;
			width: 50%;
		}

		@media screen and (min-width: 1180px) {
			font-size: 25px;
		}

	}

	.search-query-container {
		position: relative;

		@media screen and (min-width: 600px) {
			float: right;
			align-self: center;
			width: 50%;
		}

		&:before {
	    position: absolute;
	    top: 21px;
	    left: 12px;
	    display: block;
	    color: #272727;
			content: "\f002";
	    text-decoration: inherit;
	    text-decoration: inherit;
	    text-shadow: none;
	    font-weight: normal !important;
	    font-style: normal !important;
	    font-size: 12px;
	    font-family: "FontAwesome" !important;
	    line-height: 1;

	    text-rendering: auto;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
		}
	}
}

.overlay {
    position: relative;

	&:before {
	    position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    display: block;
	    content: "";
	}
}

.overlay-black:before {
    background: rgba(0, 0, 0, 0.4);
}

.overlay-blue:before {
    background: rgba(0, 75, 107, 0.8);
}

@media only screen and (min-width: 768px) {
    .overlay-blue,
    .overlay-black {
        padding-bottom: 100px !important;
    }
}

.testimonial-title {
	color: #fff;
}

.testimonial-section {
	display: block;

	.x-flexslider-shortcode-container {
		margin: 20px 0 30px 0;
		padding: 0 20px;
	}

	.flex-direction-nav {
		display: none;

		a.flex-prev {
			left: 14px;
		}

		a.flex-next {
			right: 14px;
			left: auto;
		}

		@media screen and (min-width: 600px) {
			display: block;
		}
	}

	ul {
		display: block;
		margin: 0 auto;
		max-width: 700px;
		color: #fff;

		@media screen and (min-width: 600px) {
			padding: 0 80px;
		}

		span {
			font-weight: bold;
		}
	}
}

.pwl-calculator {
	display: block;

	.ui-slider-horizontal {
		border: none !important;
		border-radius: 0;
		background: linear-gradient(#40bfea, #299bcd);
	}

	.ui-slider-handle.ui-state-default {
		top: -10px;
		margin-left: -19px;
		width: 38px;
		height: 30px;
		border-color: #fff;
		border-radius: 0;
		background: #165976;
		text-align: center;
		line-height: 30px;

		&:before {
			color: #fff;
			content: "\f07e";
			font-size: 25px;
			font-family: "FontAwesome";
		}
	}

	.inputs-line {
		display: block;

		@media screen and (min-width: 600px) {
			display: flex;
			width: 100%;
		}
	}

	.input-container {
		display: block;

		@media screen and (min-width: 600px) {
			width: 100%;
		}

		.input-units {
			display: flex;
			justify-content: space-between;
			margin-top: 5px;
			width: 100%;

			span {
				width: 20px;
				font-size: 11px;
			}
		}
	}

	.input-box {
		display: block;
		margin: 0 0 40px 0;
		padding: 0 8px;
		width: 100%;
		height: 30px;
		border: 1px solid #2096c8;
		line-height: 28px;

		@media screen and (min-width: 600px) {
			margin-left: 8px;
			width: 170px;
		}

		label {
			display: inline-block;
			margin-bottom: 0;
			color: #2096c8;
			vertical-align: middle;
			font-size: 14px;
		}

		input {
			display: inline-block;
			margin-bottom: 0 !important;
			padding-right: 0 !important;
			padding-left: 2px;
			max-width: 42px;
			width: auto;
			height: 27px;
			border: none !important;
			background: none !important;
			box-shadow: none !important;
			color: #2096c8;
			vertical-align: middle;
			font-size: 14px;
		}
	}

	.results-container {
		display: block;
		width: 100%;

		@media screen and (min-width: 600px) {
			display: flex;
			margin: 20px 0 0 0;
		}

		.results-item {
			position: relative;
			display: block;
			float: none;
			margin: 0;
			padding: 0;
			width: 100%;

			@media screen and (min-width: 600px) {
				float: left;
				flex-grow: 0;
				flex-shrink: 0;
				width: 33.33%;
			}

			&:after {
				position: absolute;
				bottom: -31px;
				left: 50%;
				z-index: 10;
				margin-left: -22px;
				width: 45px;
				height: 45px;
				border-radius: 50%;
				background-color: aqua;
				color: #2096c8;
				text-align: center;
				line-height: 45px;

				@media screen and (min-width: 600px) {
					top: 20px;
					right: -22px;
					bottom: auto;
					left: auto;
					margin-left: 0;
				}
			}

			h3 {
				padding-bottom: 0.5em;
				border-bottom: 1px solid #fff;
				font-weight: bold;
				font-size: 22px;
			}

			&.traditional {

				&:after {
					background-color: #165976;
					content: "Vs";
					font-weight: bold;
					font-size: 23px;
				}

				.results-item-inner {
					background-color: #d8d8d8;
					color: #165976;

					h3 {
						color: #165976;
					}
				}
			}

			&.bulkx {

				&:after {
					background-color: #dbd7d8;
					content: "=";
					font-size: 36px;

				}

				.results-item-inner{
					background-color: #2096c8;
					color: #fff;

					h3 {
						color: #fff;
					}
				}
			}

			&.benefits {

				.results-item-inner{
					background-color: #165976;
					color: #fff;

					h3 {
						color: #fff;
					}
				}
			}

			.results-item-inner {
				display: block;
				overflow: hidden;
				margin: 18px 0;
				padding: 10px;
				min-height: 250px;
				height: 100%;
				background-color: #fff;
				text-align: center;
				font-weight: bold;
				line-height: 20px;

				@media screen and (min-width: 600px) {
					margin: 18px 8px;
				}
			}

			&:first-child .results-item-inner {
				margin-left: 0;
			}

			&:last-child .results-item-inner {
				margin-right: 0;
			}

			.result-line {
				display: block;
				margin-bottom: 12px;
			}

			.benefits-results {
				position: relative;
				font-size: 16px;

				@media screen and (min-width: 600px) {
					top: 38%;
					transform: translateY(-50%);
				}
			}
		}
	}
}


//
.home-case-study-section {

	.x-text {
		margin-bottom: 25px;

		@media screen and (min-width: 768px) {
			margin-left: 60px;
			padding-left: 18px;
			border-left: 1px solid #2096c8;
		}
	}

	.x-btn {
		border-color: #0e5473;
		color: #0e5473;
		text-transform: none !important;
		font-weight: 400;
		font-size: 14px;
		font-family: "Work Sans",sans-serif;

		@media screen and (min-width: 768px) {
			float: left;
			margin-left: 79px;
		}

		&:hover {
			border-color: #2096c8 !important;
			color: #2096c8 !important;
		}
	}
}

.wpgmaps_directions_outer_div {
	width: 100% !important;
}

.home-hub {

	@media screen and (min-width: 768px) {
		.x-column.x-1-2 {
			margin-right: 2%;
		}

		.x-column.x-1-4 {
			margin-right: 2%;
			width: 24%;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	.x-promo {
		position: relative;
		margin-bottom: 22px;
		border: none;
		border-radius: 0;
		background-color: #2096c8;
		box-shadow: none;

		&:hover .x-promo-image-wrap {
			opacity: 0.5;
		}
	}

	.x-promo-image-wrap {
		position: relative;
		z-index: 1;
		transition: opacity 0.2s;
	}

	.x-column.x-sm.x-1-2 {

		img {
			height: 580px;
		}

		span {
			font-size: 32px;
		}
	}

	.x-promo-content {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		width: 100%;
		height: 100%;
		background-color: rgba(2, 118, 168, 0.8);//rgba(0, 75, 107, 0.8);
		color: #fff;

		a {
			display: block;
			width: 100%;
			height: 100%;

			span {
				position: absolute;
				top: 50%;
				left: 0;
				padding: 0 20px;
				width: 100%;
				color: #fff;
				text-align: center;
				font-size: 20px;
				line-height: normal;
				transform: translateY(-50%);
			}

			i.download:before {
				display: block;
				margin-bottom: 5px;
				content: "\f019";
				font-style: normal;
				font-size: 32px;
				font-family: "FontAwesome";
			}
		}
	}
}

.single-products .x-flexslider-shortcode-container {

	.flex-direction-nav {
		display: none;

		@media screen and (min-width: 768px) {
			display: block;
		}
	}

	.flex-control-nav {
		display: block;

		@media screen and (min-width: 768px) {
			display: none;
		}
	}
}

.footer-nav-menu {
	text-align: left;

	@media screen and (max-width: 768px) {
		text-align: center;
	}
}

.social-network-links {
	display: block;

	a {
    display: inline-block;
    margin-right: 6px;
    font-weight: normal !important;
    font-style: normal !important;
    font-size: 16px;
		font-family: "FontAwesome" !important;

    &.social-facebook:before {
			content: "\f09a";
		}
		&.social-twitter:before {
			content: "\f099";
		}
		&.social-linkedin:before {
			content: "\f0e1";
		}
	}
}

.country-select {
	display: inline-block;
	margin-left: 30px;
	color: #2096c8;
	vertical-align: middle;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 400;
	line-height: 1.7;

	@media screen and (max-width: 768px) {
		display: block;
		margin: 50px 0;
	}

	span {
		display: inline-block;
		margin-right: 10px;

		@media screen and (max-width: 768px) {
			display: block;
			margin: 0 0 10px 0;
		}
	}

	a {
		display: inline-block;
		vertical-align: middle;

		img {
			display: block;
			width: auto;
			height: 19px;

			@media screen and (max-width: 768px) {
				height: 22px;
			}
		}
	}
}
