#gform_1 {
	
	.gform_heading {
		
		display: none;
		
	}

	.gform_body {
		
		.custom-heading {
			
			h3 {
			
				color: #004b6b;
				letter-spacing: 0em !important;
				font-weight: 400;
				margin: 0 0 0.2em;
				font-size: 200%;
				
				a {
					
					color: #004b6b;
					
				}
				
			}
			
		}
		
	}
	
}

.ig_popup {
	
	&.icegram {
	
		width: 40%;
		
		.gform_wrapper {
			
			margin-bottom: 0;
	
			.signupform {
				
				ul,
				.gform_footer {
					
					text-align: center;
					
				}
				
			}
			
			.gform_footer {
				
				input  {
					
					width: 45%;
					margin: 0 16px 0 0;
					padding: 0.3em;
					
				}
				
			}
			
		}
		
	}
	
}
