body.lock {
    position: fixed;
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    width: 100vw;
    height: 100%;
    height: 100vh;
}

div#x-root {
    margin-top: 48px;
}

.navigation-bar {
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
	padding: 0px 40px;
    width: 100%;
    background-color: #fff;

	@media screen and (max-width: 1240px) {
		padding: 30px 40px;
    }

    // Navbar Inner

    .navigation-bar-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 1400px;
        width: 100%;
    }

    .menu-primary-menu-container {
    	@media screen and (max-width: 1240px) {
            padding: 0 20px;
        	max-width: 100%;
        	width: 400px;
        }
    }

    // Links

    a {
    	transition: all 300ms ease-in-out;

    	&:hover {
            @media screen and (min-width: 1240px) {
              background-color: #e0dfdf;
    		  color: #2194c6;
            }
    	}
    }

    .header-logo {
	    display: flex;
	    align-items: center;
	    justify-content: center;
    	padding-right: 40px;

        &:hover {
            background-color: transparent;
        }

    	@media screen and (max-width: 1240px) {
    		order: 2;
            margin-right: auto;
            margin-left: auto;
            padding-right: 0;
    	}

        @media screen and (max-width: 380px) {
            img {
                max-width: 75%;
                width: 50%;
            }
        }


    	img {
    		max-height: 40px;
    		width: auto;
            max-width: 202px;
    	}
    }

    &.active {
    z-index: 100000000;
    	.header-logo {
    		@media screen and (max-width: 1240px) {
    			margin-right: 85px;
    		}
    	}
    	.tcon-menu--xcross.tcon-transform .tcon-menu__lines::before, .tcon-menu--xcross.tcon-transform .tcon-menu__lines::after {
    		background: #fff;
    	}
    	.tcon-menu--xcross.tcon-transform .tcon-menu__lines::after {
    	    background: #fff;
    	}
    }

    ul {
    	margin-bottom: 0;
    	padding-bottom: 0;
    	list-style-type: none;
		font-size: 0;

    	li {
    		position: relative;
			display: inline-block;
			cursor: pointer;

    		@media screen and (max-width: 1240px) {
    			margin-left: 0;
    			padding-left: 0;
    		}

    		a {
    			color: #004a6c;
    			font-size: 16px;

    			@media screen and (min-width: 1240px) {
    				display: block;
    				padding: 31px 30px;
    			}

    			// &:hover {
    			// 	background-color: #efefef;
    			// }
    		}

    		&:hover {
    			.sub-menu {
    				@media screen and (min-width: 1240px) {
    					top: 89px;
    					left: 0;
                        max-width: 10000px;
                        width: 10000px !important;

                        &.place-right {
                            right: 0;
                            left: auto;
                            text-align: right;
                        }
    				}

    				li {

    					@media screen and (min-width: 1240px) {
						    width: auto;
						    background-color: #fff;
						    text-align: center;

						    a {
						    	background-color: #efefef;

                                &:hover {
                                    background-color: #efefef;
                                }
						    }

						    &:last-child {
						    }
						}
    				}

    				@media screen and (max-width: 1240px) {
    					position: static;
    					max-width: auto;

    					li {
    						padding: 0;
    						background-color: transparent;
    					}
    				}
    			}
    		}

    		.sub-menu {
    			position: absolute;
    			bottom: -90%;
    			left: -999%;
    			z-index: 99999;
    			margin-left: 0;
    			max-width: 300px;

    			@media screen and (max-width: 1240px) {
    				position: static;
    				margin-top: 10px;
    				padding-left: 0px;
    				max-width: inherit;

    				li {
    					padding: 0;
    					background-color: transparent;

    					a {
    						display: block;
                            padding: 10px;
                            font-size: 18px;
    					}
    				}
    			}
    		}
    	}
    }

    .desktop-hide {
    	display: none;
		padding-bottom: 1rem;

    	@media screen and (max-width: 1240px) {
    		display: block;
    	}

		a {
			padding-bottom: 1rem;
		    border-bottom: 1px solid white;
		}
    }
}

.admin-bar .navigation-bar {
	top: 32px;
}

@media screen and (max-width: 782px) {
	.admin-bar .navigation-bar {
		top: 46px;
	}
}

// Header Wraper

.navigation-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	transition: all 300ms ease-in-out;

	@media screen and (max-width: 1240px) {
        display: none;
	}

	.mobile-display {
		display: none;
	}

	&.active {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 10;
		display: flex !important;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		height: 100%;
		background-color: #005581;

        @media screen and (max-width: 1240px) and (max-height: 700px) {
            overflow-y: scroll;
            justify-content: flex-start;
            padding-bottom: 40px;
            height: 100%;
        }

		.mobile-display {
			display: block;
			margin: 0 auto;
		}

		img.mobile-display {
            position: absolute;
            top: 28px;
            margin-bottom: 40px;
            max-width: 60%;
            width: 203px;

            @media screen and (max-width: 1240px) and (max-height: 700px) {
                position: static;
                margin-top: 40px;
                height: auto;
            }
		}

		section.mobile-display.social {
            display: block;
            margin: 0 auto;
		    margin-top: 40px;
            padding: 0 20px;
            padding-top: 20px;
            max-width: 100%;
            width: 400px;
		    color: #fff;
		    text-align: left;
		    font-size: 22px;
		    font-family: "FontAwesome" !important;

		    a {
		    	padding: 10px;
		    	color: #fff;

                &:first-child {
                    padding-left: 0;
                }
		    }

		    a.social-facebook:before {
		      	content: "\f09a";
		    }
		    a.social-twitter:before {
		      	content: "\f099";
		    }
		    a.social-linkedin:before {
		      	content: "\f0e1";
		    }
		}

		ul {
			display: block;
		    margin-left: 0;
		    padding-left: 0;

		    li {
		        display: block;
		        padding-top: 10px;

		        a {
		            color: #fff;
		            font-size: 24px;
		        }
		    }
		}
	}

	&:after {
		display: block;
		clear: both;
		content: '';
	}
}

// Navigation Menu

.mobile-menu-button {
	display: none;
	margin-left: auto;

	@media screen and (max-width: 1240px) {
        position: relative;
        position: absolute;
        left: 40px;
        z-index: 100;
		display: block;
        order: 1;
	}

	&.active {
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 22;
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
    width: 100%;
    height: 20px;
    text-align: right;
	}
}

// Transformicons

$tcon-size: 30px !default;
$tcon-transition: .3s !default;
$tcon-jstransform: 'tcon-transform' !default;
$tcon-menu-color: #005581;
$tcon-menu-radius: ($tcon-size / 14) !default;
$tcon-menu-arrowleft-transformation: (
  transform: scale3d(.8, .8, .8) rotate3d(0, 0, 1, 90deg)
) !default;
$tcon-menu-arrow360left-transformation: (
  transform: scale3d(.8, .8, .8) rotate3d(0, 0, 1, 360deg)
) !default;
.tcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $tcon-size;
  height: $tcon-size;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: $tcon-transition;

  appearance: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;

  > * {
    display: block;
  }

  &:hover,
  &:focus {
    outline: none; // see issue #36 https://github.com/grayghostvisuals/transformicons/issues/36
  }
  &::-moz-focus-inner {
    border: 0;
  }
}

@mixin tcon-menu-lines {
  display: inline-block;
  width: $tcon-size;
  height: 2px;
  border-radius: $tcon-menu-radius;
  background: $tcon-menu-color;
  transition: $tcon-transition;
}

.tcon-menu__lines {
  position: relative;

  @include tcon-menu-lines;

  &::before,
  &::after {
    position: absolute;
    left: 0;
    width: 100%;
    content: '';
    transform-origin: ($tcon-size / 14) center;

    @include tcon-menu-lines;
  }

  &::before {
    top: 8px;
  }

  &::after {
    top: -8px;
  }

  .#{$tcon-jstransform} & {
    transform: scale3d(.8, .8, .8);
  }
}
.tcon-menu--xcross {
  width: auto;

  &.#{$tcon-jstransform} {
    .tcon-menu__lines {
      background: transparent;

      &::before,
      &::after {
        top: 0;
        width: $tcon-size;
        transform-origin: 50% 50%;
      }

      &::before {
        transform: rotate3d(0, 0, 1, 45deg);
      }

      &::after {
        transform: rotate3d(0, 0, 1, -45deg);
      }
    }
  }
}
// see issue #7 https://github.com/grayghostvisuals/transformicons/issues/7#issuecomment-59813596
.tcon-visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;

  &:active,
  &:focus {
    position: static;
    overflow: visible;
    clip: auto;
    margin: 0;
    width: auto;
    height: auto;
  }
}

// Off Canvas Search
.offcanvas-search {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100000000;
	display: flex !important;
	overflow: hidden;
	align-items: center;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	height: 100%;
	background-color: #005581;
	opacity: 0;
	transition: all 300ms ease-in-out;
	pointer-events: none;

	#close-search {
		display: none;
	}

	&.active {
		opacity: 1;
		pointer-events: auto;

		#close-search {
            position: absolute;
            top: 40px;
            left: 0;
            z-index: 22;
            display: block;
            padding-right: 40px;
            width: 100%;
            height: 20px;
            text-align: right;

			img {
				max-width: 100%;
				max-height: 100%;
			}
		}

        form#searchform {
            padding: 200px 40px 0px 40px;
            padding: 40vh 5vw;
            max-width: 100%;
            width: 800px;
        }
	}

	&:after {
		display: block;
		clear: both;
		content: '';
	}

	.search-wrapper {
        position: relative;
        display: block;
        margin: 0 auto;
        max-width: 100%;
        width: 800px;
	}

	input#archive_query {
	    padding-right: 40px;
	    padding-left: 0;
	    max-width: 100%;
	    width: 100%;
	    border: none;
	    border-bottom: solid 2px #fff;
	    border-radius: 0;
	    background-color: transparent;
	    box-shadow: none;
	    color: #fff;
	    font-size: 36px;

        @media screen and (max-width: 1240px) {
            font-size: 30px;
        }
        @media screen and (max-width: 768px) {
            font-size: 24px;
        }
	}

	input#searchsubmit {
		position: absolute;
		top: 45%;
		right: 0px;
		display: block;
		padding: 0;
		width: 30px;
		height: 30px;
		border: none;
		background-color: transparent !important;
		background-image: url(../images/search-white.svg);
		background-size: contain;
		background-repeat: no-repeat;
		font-size: 0;
		transform: translateY(-50%);

		&:hover {
			border-color: transparent;
			background-color: transparent;
		}
	}
}

// Search Icon
.search-button {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: center;
	// margin-left: auto;
	padding-left: 100px;

    &:hover {
        background-color: transparent !important;
    }

	@media screen and (max-width: 1460px) {
		padding-left: 60px;
		min-width: auto;
	}

	@media screen and (max-width: 1240px) {
            position: absolute;
            right: 40px;
        order: 3;
            margin-right: auto;
            margin-left: auto;
            padding-right: 0;
            padding-left: 0;
            min-width: auto;
	}

	p {
		margin-bottom: 0;
		padding-bottom: 0;
		max-width: 100%;
		width: 200px;
		border-bottom: solid 1px #004a6c;
		color: #004a6c;
		font-size: 16px;

		@media screen and (max-width: 1460px) {
			display: none;
		}
	}

	.search-image {
	    padding-left: 10px;
	    max-width: initial;
		max-height: 20px;
        max-width: 30px;
        max-height: 20px;
	}
}
