#x-section-1.hero-slider {
	padding-top: 45px !important;
}

.hero-slider {
	padding: 0;

	.x-flexslider-shortcode-container {
	    margin-bottom: 6px;
	}

	ul.flex-direction-nav {
	    position: absolute;
	    bottom: 60px;
	    left: 50%;
	    transform: translateX(-50%) translateY(-50%);
	    -webkit-margin-before: 0em;
	    -webkit-margin-after: 0em;
	    -webkit-margin-start: 0px;
	    -webkit-margin-end: 0px;
	    -webkit-padding-start: 0px;
	    z-index: 2;

	    li.flex-nav-prev {
	        position: absolute;
	        left: -100px;

	        .flex-direction-nav a.flex-next {
	            left: 0;
	        }
	    }

	    li.flex-nav-next {
	    	position: absolute;
	    	right: -60px;

	    	a.flex-next {
	    	    left: 0;
	    	}
	    }

	    a {
	        background: transparent;
	    }
	}

	.flex-control-nav {
		padding: 0 4px;
	    line-height: 1;
	    text-align: center;
	    background-color: transparent;
	    border-radius: 4px;
	    position: absolute;
	    bottom: 5px;
	    left: 50%;
	    top: auto;
	    right: auto;
	    transform: translateX(-50%) translateY(-50%);
	    -webkit-margin-before: 0em;
	    -webkit-margin-after: 0em;
	    -webkit-margin-start: 0px;
	    -webkit-margin-end: 0px;
	    -webkit-padding-start: 0px;
	    z-index: 2;

	    a {
	    	background-color: transparent;
	    	border: solid 1px #fff;
	    	border-radius: 0;

	    	&.flex-active {
	    		background-color: #004A6C;
	    	}
	    }
	}

	// Slider

	li.x-slide {
		width: 100%;
		height: 60vh;
		border-bottom: solid 5px #fff;
		background-size: cover; 
		background-position: center center;
		position: relative;
		color: #fff;
		min-height: 600px;

		&:after {
			display: block;
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			background-color: rgba(0,0,0,0.25);
		}

		.header-inner-container {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			width: 100%;
			position: relative;
			z-index: 2;
			min-height: 600px;

			.header-inner {
				display: flex;
				margin: 0 auto;
				max-width: calc(1024px + 80px);
				padding: 40px;
				width: 100%;
				align-items: flex-start;
				flex-direction: column;
			}

			h1 {
				color: #fff;
				font-weight: 100;
				color: #FFFFFF;
				font-family: "Work Sans";	
				font-size: 46px;
				line-height: 54px;
				width: 538px;
				max-width: 100%;
				display: block;

				@media #{$tablet} {
					font-size: 32px;
				}

				strong {
					font-weight: bold;
				}
			}

			p {
				a {
					color: #fff;
					padding: 20px 50px;
					border: solid 1px #fff;
					font-size: 14px;
					margin-top: 20px;
					display: block;
					transition: all 300ms ease-in-out;

					&:hover {
						background-color: #fff;
						color: #005581;
					}
				}
			}
		}
	}
}

// Testimonials Section

.x-section.testimonial-section {

	.testimonial-title {
		display: none;
	}

	.flex-direction-nav {
	    display: none !important;
	}

	li.x-slide {
		width: 620px;
		color: #063959;
		font-family: "Work Sans";
		font-size: 20px;
		font-weight: 300;
		line-height: 30px;
		text-align: center;

		strong {
		    display: block;
		    padding-top: 20px;
		    color: #2095C7;
		    font-family: "Work Sans";
		    font-size: 14px;
		    font-weight: 600;
		    line-height: 30px;
		}
	}

	.x-flexslider-shortcode-container {
	    margin: 20px 0 30px 0;
	    padding: 0 20px;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	}
}

.x-section.services-columns {
	border-bottom: solid 6px #fff;

	.x-column {
	    float: left;
	    margin-right: 1%;

	    &:last-of-type {
	    	margin-right: 0;
	    }
	}

	.x-column.x-1-2 {
		min-height: 400px;
		background-position: center center;
		background-size: cover;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;

		@media #{$tablet-up} {
			width: 49.75%;
			margin-right: 0.5%;

			&:last-of-type {
				margin-right: 0;
			}
		}

		&:after {
			display: block;
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			background-color: rgba(0,0,0,0.25);
		}

		.x-text {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			z-index: 2;
			position: absolute;
			top: 0;
			left: 0;

			a {
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
			}


			&:hover {
				.inner-box {
					background-color: rgba(0, 85, 129, 0.8);
					transition: all 300ms ease-in-out;
				}
			}

			.inner-box {
				color: #fff;
				padding: 54px 20px;
				margin: 0 108px;
				text-align: center;
				position: relative;
				z-index: 2;
				border: solid 2px #fff;
				background-color: rgba(255,255,255, 0.3);
				transition: all 300ms ease-in-out;
				box-sizing: border-box;
				width: 364px;
				max-width: 90%;
			}

			@media #{$tablet} {
				padding: 54px 54px;
			}

			h2 {
				color: #fff;
				font-size: 27px;
				font-weight: 600;
				line-height: 32px;
				text-align: center;
				margin: 0;
			}

			h3 {
				color: #fff;
				font-size: 19px;
				font-weight: 300;
				line-height: 23px;
				text-align: center;
				margin: 0;
			}
		}
	}

	// Triple Column Row
	.x-column.x-1-3 {
	    min-height: 400px;
	    background-position: center center;
	    background-size: cover;
	    display: block;
	    position: relative;

	    @media #{$tablet-up} {
	    	width: 33%;
	    	margin-right: 0.5%;

	    	&:last-of-type {
	    		margin-right: 0;
	    	}
	    }

	    .x-text {
	    	width: 100%;
	    	height: 100%;
	    	position: absolute;
	    	top: 0;
	    	left: 0;

	    	&:hover {
	    		.inner-box {
	    			background-color: rgba(0,74,108,0.95);
	    		}
	    	}

    	    .inner-box {
		    	color: #fff;
		    	padding:30px 40px;
		    	margin: 0;
		    	text-align: center;
		    	position: absolute;
		    	box-sizing: border-box;
		    	background-color: rgba(0,74,108,0.8);
		    	transition: all 300ms ease-in-out;
		    	display: flex;
	    	    flex-direction: column;
	    	    z-index: 2;
	    	    width: 100%;
	    	    bottom: 0;
	    	    align-items: flex-start;
	    	    text-align: left;
    	    }

    	    a {
    	    	display: flex;
    	    	text-align: left;
    	    	color: #fff;
    	    	height: 100%;
    	    	width: 100%;


    	    	p {
    	    		color: #fff;
    	    	}
    	    }

	    	h2 {
	    		color: #fff;
	    		font-size: 27px;
	    		font-weight: 600;
	    		line-height: 32px;
	    		text-align: left;
	    		margin: 0;
	    	}

	    	h3 {
	    		color: #fff;
	    		font-size: 19px;
	    		font-weight: 300;
	    		line-height: 23px;
	    		text-align: left;
	    		margin: 0;
	    	}

	    	p {
	    		color: #FFFFFF;
	    		font-family: "Work Sans";
	    		font-size: 14px;
	    		font-weight: 300;
	    		line-height: 16px;
	    		text-align: left;
	    	}
	    }
	}
}

body.home .x-container.max {
    max-width: 1600px;
}