div.hbspt-form {
	font-family: 'Work Sans';

	span {
		font-family: 'Work Sans';
		font-weight: 400;
		color: #0e5473;
	}

	input {
		font-size: inherit;
		font-family: inherit;
		padding: 5px 4px;
		letter-spacing: normal;
		display: inline-block;
		height: 2.65em;
		margin: 3px 0;
		line-height: 2.65em;
		transition: border linear 0.2s,box-shadow linear 0.2s;
		border: 1px solid #ddd;
		background-color: #fff;
		border-radius: 4px;
		box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
		box-sizing: border-box!important;
		vertical-align: middle;

		&[type="submit"] {
			height: 2.65em;
			margin-top: 32px;
			width: 270px;
			max-width: 100%;
			font-size: 14px !important;
			font-family: 'Work Sans' !important;
			margin: 0 16px 0 0;
			display: inline-block;
			cursor: pointer;
			-webkit-appearance: button;
			font-weight: 300;
			text-shadow: none!important;
			color: #ffffff;
			border-color: #2096c8;
			background-color: #2096c8;
			padding: 0.579em 1.105em 0.842em;
			box-sizing: border-box!important;
			background-image: none;
			box-shadow: none;
			border-radius: 0;
			border: none !important;
		}
	}

	.actions {
	    padding: 0 !important;
	    padding-left: 20px !important;
	    margin-top: 10px;
	}
}

.something {
	height: 2.65em;
	margin-top: 32px;
	width: 270px;
	max-width: 100%;
	font-size: 14px !important;
	font-family: 'Work Sans' !important;
	margin: 0 16px 0 0;
	display: inline-block;
	cursor: pointer;
	-webkit-appearance: button;
	font-weight: 300;
	text-shadow: none!important;
	color: #ffffff;
	border-color: #2096c8;
	background-color: #2096c8;
	padding: 0.579em 1.105em 0.842em;
	box-sizing: border-box!important;
	background-image: none;
	box-shadow: none;
	border-radius: 0;
	border: none !important;
}