.hero-slider-small {
	padding: 0;

	.slider-thumbnail.has-video {
		position: relative;

		&:after {
			content: "\f144";
			font-family: FontAwesome;
			color: #fff;
			font-size: 36px;
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			text-align: center;
			transform: translateY(-50%);
		}
	}

	.x-flexslider-shortcode-container {
	    margin-bottom: 6px;
	}

	ul.flex-direction-nav {
	    position: absolute;
	    bottom: 60px;
	    left: 50%;
	    transform: translateX(-50%) translateY(-50%);
	    -webkit-margin-before: 0em;
	    -webkit-margin-after: 0em;
	    -webkit-margin-start: 0px;
	    -webkit-margin-end: 0px;
	    -webkit-padding-start: 0px;
	    z-index: 2;
	    display: block !important;

	    li.flex-nav-prev {
	        position: absolute;
	        left: -140px;

	        .flex-direction-nav a.flex-next {
	            left: 0;
	        }
	    }

	    li.flex-nav-next {
	    	position: absolute;
	    	right: -100px;

	    	a.flex-next {
	    	    left: 0;
	    	}
	    }

	    a {
	        background: transparent;
	    }
	}

	.flex-control-nav {
		padding: 0 4px;
	    line-height: 1;
	    text-align: center;
	    background-color: transparent;
	    border-radius: 4px;
	    position: absolute;
	    bottom: 5px;
	    left: 50%;
	    top: auto;
	    right: auto;
	    transform: translateX(-50%) translateY(-50%);
	    -webkit-margin-before: 0em;
	    -webkit-margin-after: 0em;
	    -webkit-margin-start: 0px;
	    -webkit-margin-end: 0px;
	    -webkit-padding-start: 0px;
	    z-index: 2;
	    display: block !important;

	    a {
	    	background-color: transparent;
	    	border: solid 1px #fff;
	    	border-radius: 0;

	    	&.flex-active {
	    		background-color: #004A6C;
	    	}
	    }
	}

	// Slider

	li.x-slide {
		width: 100%;
		height: 400px;
		border-bottom: solid 0px #fff;
		background-size: cover; 
		background-position: center center;
		position: relative;
		color: #fff;
		min-height: 400px;

		&:after {
			display: block;
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			background: rgba(255,255,255,0.25);  /* fallback for old browsers */
			background: -webkit-linear-gradient(to bottom left, rgba(255,255,255,0.9), rgba(255,255,255,0) );  /* Chrome 10-25, Safari 5.1-6 */
			background: linear-gradient(to bottom left, rgba(255,255,255,0.9), rgba(255,255,255,0) ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

		}

		.header-inner-container {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			width: 100%;
			position: relative;
			z-index: 2;
			min-height: 600px;

			.header-inner {
				display: flex;
				margin: 0 auto;
				max-width: calc(1024px + 80px);
				padding: 40px;
				width: 100%;
				align-items: flex-start;
				flex-direction: column;
			}

			h1 {
				color: #fff;
				font-weight: 100;
				color: #FFFFFF;
				font-family: "Work Sans";	
				font-size: 46px;
				line-height: 54px;
				width: 538px;
				max-width: 100%;
				display: block;

				@media #{$tablet} {
					font-size: 32px;
				}

				strong {
					font-weight: bold;
				}
			}

			p {
				a {
					color: #fff;
					padding: 20px 50px;
					border: solid 1px #fff;
					font-size: 14px;
					margin-top: 20px;
					display: block;
					transition: all 300ms ease-in-out;

					&:hover {
						background-color: #fff;
						color: #005581;
					}
				}
			}
		}
	}
}

body.single-products {

	// Section Padding
	div#x-section-1 {
	    padding-top: 80px !important;
	}

	// Custom text block styling
	.x-text {

		// Header One
		h1 {
			color: #005581;
			font-size: 24px;
			font-weight: 600;
			line-height: 28px;
		}

		// Header Two
		h2 {
			color: #005581;
			font-size: 16px;
			font-weight: 300;
			line-height: 19px;
		}

		h3 {
			color: #1E82BB;
			font-size: 18px;
			font-weight: 300;
			line-height: 24px;
		}

		p {
			color: #005581;
			font-size: 14px;
			line-height: 20px;
		}

		a.arrow-button {
			padding: 11px 30px;
			background-color: #00a6dd;
			color: #EBEBEB;
			display: inline-block;
			margin-right: 10px;
			margin-bottom: 0px;
			margin-top: 10px;
			font-size: 16px;
			font-weight: 600;
			line-height: 24px;
			transition: all 300ms ease-in-out;
			min-width: 225px;
			position: relative;

			&:hover {
				opacity: 0.8;
			}

			&:after {
				content: "\f178";
				font-family: FontAwesome;
				color: #fff;
				padding-left: 10px;
				position: absolute;
				right: 20px;
			}

			&.dark {
				background-color: #004A6C;
			}
		}

		a.user-guide {
			padding: 11px 30px;
			border: solid 1px #004A6C;
			color: #004A6C;
			display: inline-block;
			margin-right: 10px;
			margin-bottom: 0px;
			margin-top: 10px;
			font-size: 16px;
			font-weight: 600;
			line-height: 24px;
			transition: all 300ms ease-in-out;
			min-width: 225px;
			position: relative;

			&:hover {
				opacity: 0.8;
			}

			&:after {
				content: "\f019";
				font-family: FontAwesome;
				color: #004A6C;
				padding-left: 10px;
				position: absolute;
				right: 20px;
			}
		}
	}

	// Tabs

	.x-nav-tabs {
		border: 1px solid #E0E5E9;
		border-top: none;
		box-shadow: none;

		@media #{$tablet-up} {
			border-right: none;
		}

		li {
			border-bottom: none;

			@media #{$tablet} {
				width: 50%;
				display: inline-block;
			}
		}

		li.x-nav-tabs-item {
			@media #{$tablet-up} {
				width: 20%;
				display: inline-block;
			}

			border-top: 1px solid #E0E5E9;

			a {
				font-family: "Work Sans" !important;
				font-size: 14px !important;
				font-weight: 600 !important;
				line-height: 16px !important;
				text-align: center !important;
				color: #005581;
				text-transform: uppercase;
				background-color: #E0E5E9;
				box-shadow: none;
				border-right: 1px solid #E0E5E9;
				cursor: pointer;
			}

			&.active {
				a {
					background-color: #fff;
				}
			}

			&:last-child {
				border-right: 1px solid #E0E5E9;
			}
		}

		> .active > a {
			box-shadow: none;
		}
	}
	.x-tab-content {
		box-shadow: none !important;
		margin-bottom: 40px;

		div.split-columns {
			column-count: 2;

			@media #{$tablet} {
				column-count: 1;
			}			
		}

		ul {
			li {
				margin-top: 10px;
			}
		}
	}

	// Intro Column Min Height

	.x-column.x-sm.x-1-2 {
		@media #{$desktop-up} {
			height: 400px;

			.x-text {
			    position: relative;
			    height: calc(100% - 10px );

			    div.button-wrapper {
			    	position: absolute;
			    	bottom: 0;
			    	left: 0;
			    }
			}
		}		

		.x-flexslider-shortcode-container {
		    height: 400px;
		    background-color: #00a6dd;
		    background-image: url('../images/logo-white.png');
		    background-repeat: no-repeat;
		    background-position: center center;
		}
	}

	// Triple Column Row
	.x-column.x-1-3 {
	    min-height: 300px !important;
	    background-position: center center;
	    background-size: cover;
	    display: block;
	    position: relative;

	    &.go-back {
	    	.x-text {
	    		.inner-box {
	    			height: 100%;
	    			width: 100%;
	    			background-color: #00a6dd !important;
	    			display: flex;
	    			justify-content: center;
	    			align-items: center;
	    			text-align: center;

	    			h2 {
	    				text-align: center;
	    			}

	    			p {
	    				display: inline-block;
	    				margin: 0 auto;
	    				width: auto;
	    				text-align: center;

	    				a {
	    					margin-top: 20px;

	    					&:before {
	    						content: "\f177";
	    						font-family: FontAwesome;
	    						color: #fff;
	    						padding-right: 10px;
	    					}

	    					&:after {
	    						display: none;
	    					}
	    				}
	    			}
	    		}
	    	}
	    }
	}

	.x-tab-pane.fade.in {
		overflow: scroll;

		&::-webkit-scrollbar {
		    -webkit-appearance: none;
		    width: 1px;
		    height: 10px;
		}
		&::-webkit-scrollbar-thumb {
		    border-radius: 0px;
		    background-color: rgba(0,0,0,.5);
		    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
		}
	}

	// Read More Functionality

	a.read-more-link {
		display: none;
		padding: 10px 0px;

		@media #{$tablet} {
			display: block;
			padding: 10px 0px;
		}
	}

	div.read-more-content {
		display: block;

		@media #{$tablet} {
			display: none;

			&.active {
				display: block;
			}
		}
	}

}

// Product Overlay
.offcanvas-request-quote {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100000000;
	display: flex !important;
	overflow: scroll;
	align-items: center;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	height: 100%;
	background-color: #005581;
	opacity: 0;
	transition: all 300ms ease-in-out;
	pointer-events: none;

	#close-offcanvas-request-quote {
		position: absolute;
	    top: 40px;
	    left: 0;
	    z-index: 22;
	    display: block;
	    padding-right: 40px;
	    width: 100%;
	    height: 20px;
	    text-align: right;

	    img {
	    	max-width: 100%;
	    	max-height: 100%;
	    }
	}

	&.active {
		opacity: 1;
		pointer-events: auto;

		#close-search {
            position: absolute;
            top: 40px;
            left: 0;
            z-index: 22;
            display: block;
            padding-right: 40px;
            width: 100%;
            height: 20px;
            text-align: right;

			img {
				max-width: 100%;
				max-height: 100%;
			}
		}

        form#searchform {
            padding: 200px 40px 0px 40px;
            padding: 40vh 5vw;
            max-width: 100%;
            width: 800px;
        }
	}

	&:after {
		display: block;
		clear: both;
		content: '';
	}

	// Custom Form Styling

	.form-wrapper {
		padding: 150px 40px 100px 40px;
	}

	#gform_1 .gform_body .custom-heading h3 {
		color: #fff;
		display: none;
	}

	#gform_1 .gform_body .custom-heading h3 a {
    	color: #fff;
	}

	.gform_wrapper ul.gform_fields {
		color: #fff;
	}
	.gform_wrapper ul.gfield_checkbox li label {
		color: #fff;
		display: none;
	}

	label {
		display: none !important;
	}

	.gform_wrapper ul {
		padding-left: 0 !important;
		margin-left: 0 !important;

		li.gfield {
			padding-right: 0 !important;
		}

		input.medium, select.medium {
		    width: 100% !important;
		}
	}

	li.gfield.gsection.field_sublabel_below.field_description_below.gfield_visibility_visible {
	    border-bottom: none;

	    h2 {
	  	  	color: #fff;
	    }
	}

	// Error Messages

	.gform_wrapper div.validation_error {
	    color: #ffbbbb;
	    font-size: 1em;
	    font-weight: 700;
	    margin-bottom: 25px;
	    border-top: 2px solid #ffbbbb;
	    border-bottom: 2px solid #ffbbbb;
	    padding: 16px 0;
	    clear: both;
	    width: 100%;
	    text-align: center;
	    margin-bottom: 0;
	}

	.gform_wrapper li.gfield.gfield_error, body .gform_wrapper li.gfield.gfield_error.gfield_contains_required {
	    border: 0px solid;
	    padding: 0 !important;
	    border-color: transparent;
	    color: #ffbbbb;
	    background-color: #015481;
	    max-width: 100% !important;
	}

	.gform_wrapper li.gfield.gfield_error, body .gform_wrapper li.gfield.gfield_error.gfield_contains_required {
	    border: 2px solid !important;
	    padding: 6px 10px !important;
	    border-radius: 4px;
	    border-color: #ff817f !important;
	    color: #ff817f !important;
	    background-color: transparent !important;
	}

	.gfield_description.validation_message {
	    color: #ffbbbb;
	    font-size: 14px !important;
	    padding-top: 0 !important;
	    font-weight: 500 !important;
	    opacity: 1 !important;
	}

	.gform_wrapper span.gform_description {
	    font-weight: 400;
	    display: block;
	    width: calc(100% - 16px);
	    margin-bottom: 16px;
	    color: #fff;
	    max-width: 400px;
	}
}