.masthead {
	
	background-color: hsl(198, 72%, 45%);
	
	.location-selector {
		
		position: relative;
		font-size: 13px;
		padding: 10px 10px 10px 0px;
		text-transform: uppercase;
	    text-decoration: none;
	    color: #fff;
	    
	    .locations {
		    
		    width: 300px;
			position: absolute;
			top: 27px;
			padding: 10px;
			z-index: 2000;
 			display: none;
 			background-color: hsl(198, 72%, 45%);
			
			a {
				
				display: block;
				font-size: 12px;
				padding: 5px;
				color: #fff;
				
				img {
					
					max-width: 50px;
					
				}
				
			}
		    
	    }
	    
	    &:hover > .locations {
		    
		    display: block;
		    
	    }
		
	}
	
}
