// Core Styling

@import url("https://use.typekit.net/dbo3lgr.css");

body {
	overflow-x: hidden;
	margin: 0;
	max-width: 100%;
	background-color: #fff !important;
	color: #9c9c9c;
	font-size: 18px;
	font-family: "canada-type-gibson", "Lato", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !important;

	-webkit-font-smoothing: antialiased;

	p {
		color: #202020;
		text-align: center;
		letter-spacing: normal;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		font-size: 16px;
		font-family: "canada-type-gibson", "Lato", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
		line-height: 1.81;
	}

	h1 {
		margin-bottom: 30px;
		padding: 4px 12px;
		text-align: center;
		letter-spacing: normal;
		font-weight: 600;
		font-style: normal;
		font-stretch: normal;
		font-size: 36px;
		font-family: "canada-type-gibson", "Lato", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
		line-height: 1.19;
	}

	h2,
	h3 {
		margin-top: 0;
		text-align: center;
		letter-spacing: normal;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		font-size: 20px;
		font-family: "canada-type-gibson", "Lato", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
		line-height: 1.7;
	}

	.blue-header {

		h1 {
			background-color: $brand-blue;
			box-decoration-break: clone;
			color: #fff;
			text-transform: uppercase;
			box-shadow: 0.25em 0 0 $brand-blue, -0.25em 0 0 $brand-blue;
			position: relative;
			left: 0.25em;
			padding-left: 0;

			font {
				font-size: inherit;
			}
		}

		h2 {
			background-color: $brand-blue;
			box-decoration-break: clone;
			color: #fff;
			text-transform: uppercase;
			box-shadow: 0.25em 0 0 $brand-blue, -0.25em 0 0 $brand-blue;
			position: relative;
			left: 0.25em;
			padding-left: 0;

			font {
				font-size: inherit;
			}
		}
	}

	a {
		color: $brand-blue;
		text-decoration: none;
		transition: all 300ms ease-in-out;

		&:hover {
			color: darken($brand-blue, 5%);
		}

		&.cta,
		&.cta-blue {
			position: relative;
			z-index: 2;
			display: inline-block;
			margin-top: 30px;
			padding: 13px 30px 14px 30px;
			border: 4px solid #fff;
			background-color: transparent;
			color: #fff;
			text-align: center;
			text-transform: uppercase;
			letter-spacing: normal;
			font-weight: 700;
			font-style: normal;
			font-stretch: normal;
			font-size: 16px;
			line-height: 1.44;
			transition: background-color 300ms ease-in-out, border-color 150ms ease-in-out;

			&:hover {
				border-color: $brand-orange;
				background-color: $brand-orange;
			}
		}

		&.cta-blue {
			border-color: $brand-blue;
			background-color: $brand-blue;
			transition: all 300ms ease-in-out;

			&:hover {
				border-color: darken($brand-blue, 5%);
				background-color: darken($brand-blue, 5%);
			}
		}
	}

	.widget ul li a {
		border-bottom: none;

		&:hover {
			color: $brand-blue; // X-theme override
		}
	}

	select,
	textarea,
	input[type="text"],
	input[type="password"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="week"],
	input[type="number"],
	input[type="email"],
	input[type="url"],
	input[type="search"],
	input[type="tel"],
	input[type="color"],
	.uneditable-input {
		border-radius: 0;
		font-size: 16px;
	}

}
