// Media queries
$mobile: "only screen and (max-width: 480px)";
$mobile-up: "only screen and (min-width: 480px)";

$tablet: "only screen and (max-width: 768px)";
$tablet-up: "only screen and (min-width: 768px)";

$desktop-small: "only screen and (max-width: 1080px)";
$desktop-small-up: "only screen and (min-width: 1080px)";


// Brand colors

$brand-orange: #ff9036;
$brand-blue: #23a7d8;
