/* ========
    These hotfixes had been added directly to dist file
    - moved them to this file to clean-up if time - yb 18 jan 2018
=========== */

.content ul,
.content ol {
    color: #202020;
    font-size: 16px;
}

.blue-header {
    margin-bottom: 15px;
}

.x-counter {
    margin-bottom: 40px;
}

@media screen and (max-width:768px) {
    .slider-background-image .row .text_container .inner_content h1 {
        font-size: 24px;
    }

    .x-section .testimonial-slider .x-flexslider .x-slides h2 {
        font-size: 16px;
    }

    .x-column .x-recent-posts .x-recent-posts-content {
        border-bottom: 20px solid hsl(210, 30%, 96%);
    }

    .slider-background-image,
    .cs_multi_slider_top {
        height: 520px;
    }
}

.x-section h1+h3,
.x-section.bg-image h1+h3 {
    margin-top: 20px;
}

.home .x-recent-posts-date {
    display: none !important;
}

.marketing-row .x-column.x-sm.x-1-4 .x-text {
    margin-bottom: 20px;
}

.x-navbar-wrap .x-navbar .desktop .x-nav>li>a span::after,
.x-navbar-wrap .x-navbar .mobile .x-nav>li>a span::after {
    content: "";
}

.people-row .x-column.x-sm.x-1-3 img,
.people-row .x-column.x-sm.x-1-4 img {
    object-fit: fill;
    height: auto;
}

.people-row .x-column.x-sm.x-1-3 .x-text.text-box-link,
.people-row .x-column.x-sm.x-1-4 .x-text.text-box-link {
    padding-top: 0 !important;
}

/**
* typography issues
**/

body p,
body h1,
body h2,
body h3,
body h4 body h5 body p {
    text-align: left;
    text-align: initial;
}

p+h2,
p+h3 {
    margin-top: 25px;
}

.x-column.x-sm.x-1-1 p {
    max-width: none;
}

/**
* main menu centered links on desktop
*/

@media screen and (min-width:980px) {

    .x-nav-wrap.desktop {
        flex: 1;
    }

    #menu-main-menu {
        display: flex;
        float: none;
        justify-content: space-between;
        margin: 0 auto;
    }

}

/* removed to enable space for extra items on menu - fresh ticket 3778 - yb jan 2019 
and add changes below to display mobile menu */

// @media screen and (min-width:1140px) {

//     #menu-main-menu {
//         max-width: 800px;
//         width: 80%;
//     }

// }

@media screen and (min-width: 980px) and (max-width: 1081px) {
    .x-nav-wrap.desktop {
        display: none !important;
    }
    .masthead-inline .x-btn-navbar {
        display: block;
        float: right;
    }
    .x-navbar-wrap .x-navbar .x-container.max.width {
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .x-nav-wrap.mobile {
        display: block !important;

        &.x-collapsed {
            display: none !important;
        }
    }
}

/**
* 'unclickable' class/state on # link
*/

.x-navbar-wrap .x-navbar .desktop .x-nav li.unclickable>a,
footer .widget ul li.unclickable>a {
    cursor: default;
}

footer .widget ul li.unclickable>a:hover {
    color: #202020;
}

.desktop .items-right>ul {
    left: auto !important;
    right: 100%;
}

a.entry-thumb:hover img {
    opacity: 1 !important;
}

a.entry-thumb:hover:before {
    display: none !important;
    opacity: 0 !important;
}

.entry-thumb:before {
    display: none !important;
}

#breadcrumbs {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}


/**
* revised footer styles
*
*/

.x-colophon .h-widget {
    text-transform: uppercase;
}

body a.cta,
body a.cta-blue {
    display: block;
    margin: 30px auto 0 auto;
    max-width: 300px;
}

.x-section h1,
.x-section.bg-image h1 {
    padding: 3px 0;
}

.h-landmark {
    font-size: 32px;
    letter-spacing: 0 !important;
    text-align: center !important;
    text-transform: uppercase;
}

.h-landmark span:before,
.h-landmark span:after {
    display: none !important;
}

body .p-landmark-sub {
    font-size: 20px;
    letter-spacing: 0;
    text-align: center;
}

footer .h-widget {
    font-size: 18px !important;
    font-family: inherit !important;
    text-align: center;
}

footer .widget ul>li a {
    font-weight: 400;
    text-transform: none;
}

@media screen and (min-width:568px) {

    footer .h-widget {
        text-align: left;
    }

}

@media screen and (min-width:640px) {

    footer .widget ul>li {
        width: 100%;
    }

}

@media screen and (min-width:960px) {

    footer.x-colophon.top .x-container.max.width {
        flex-direction: row !important;
    }

}

.h-custom-headline.h1 {
    margin-top: 0 !important;
}

.h-custom-headline.h1 span {
    display: inline;
    margin: 0 auto;
    // margin-bottom: 30px;
    padding: 4px 12px;
    background-color: #23a7d8;
    text-align: center;
    letter-spacing: normal;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    font-size: 36px;
    line-height: 1.19;
    box-shadow: 0.25em 0 0 #23a7d8, -0.25em 0 0 #23a7d8;
    position: relative;
    left: .25em;
    padding-left: 0;
    padding: 3px 0;
    color: #fff !important;
    text-transform: uppercase;
}

#menu-social {
    justify-content: center;
}

footer .widget ul>li {
    flex: none;
}