.x-section,
.x-section.bg-image {
	position: relative;

	h1 {
		display: inline;
		margin: 0 auto;
		// margin-bottom: 30px;
		padding: 4px 12px;
		background-color: $brand-blue;
		text-align: center;
		letter-spacing: normal;
		font-weight: 600;
		font-style: normal;
		font-stretch: normal;
		font-size: 36px;
		line-height: 1.19;

		box-shadow: 0.25em 0 0 $brand-blue, -0.25em 0 0 $brand-blue;
		position: relative;
		left: 0.25em;
		padding-left: 0;
	}

	.x-container {
		position: relative;
		z-index: 2;
	}
}

.x-section.bg-image {

	&:after {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1;
		display: block;
		background-color: rgba(0, 0, 0, 0.45);
		content: '';
	}
}
