.partners-row {
	.x-column {
		.x-block-grid {
			display: flex;
			align-items: center;
			flex-flow: row wrap;
			justify-content: center;
			margin: 0 auto;
			max-width: 1000px;

			.x-block-grid-item {
				flex: 1 1 auto;
				margin: 0;
				padding: 5% 2.5% 0;
				max-width: 250px;
				width: auto !important;

				& > img {
					max-height: 55px;
					width: auto;
				}
			}
		}
	}
}
