.our-audience {
	text-align: center;
	letter-spacing: normal;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	font-size: 16px;
	line-height: 1.44;

	a {
		color: #202020;
	}
}
.x-counter .number-wrap,
a.circle-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
	margin: 0 auto;
	padding: 20px;
    width: 147px;
    height: 141px;
    background-image: url('../images/dotted-circle.svg');
    background-size: contain;
	color: #ffffff;
	text-align: center;
	letter-spacing: normal;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	font-size: 28px;
	line-height: 1.04;

	&:hover {
		color: #fff;
	}
}

.x-counter {

	.number-wrap {

		.prefix,
		.number,
		.suffix {
			font-size: 25px;
			line-height: 1.04;
		}

		.prefix {
			margin-right: 0.25rem !important;
		}

		.suffix {
			margin-left: 0.25rem !important;
		}
	}

	.text-above,
	.text-below {
		margin: 0 auto;
		max-width: 60%;
		color: #202020;
		text-transform: none !important;
		letter-spacing: normal !important;
		font-size: 16px !important;
		line-height: 1.44 !important;
	}

	.text-above {
		margin-bottom: 2rem !important;
	}

	.text-below {
		margin-top: 2rem !important;
	}
}
