.x-column.x-sm.x-1-2 {
	h2 {
		font-size: 36px;
		font-weight: 700;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.19;
		letter-spacing: normal;
		text-align: left;
		color: #202020;
		text-transform: uppercase;
		margin-top: 0;
	}
}