.dropdown-holder {
	display: flex;
    flex-direction: row;
    align-items: center;

    p {
    	margin-bottom: 8px;
    	margin-left: auto;
    }

    form {
    	padding-left: 30px;
    	margin-bottom: 0;

    	select {
    		padding: 10px 20px;
		    display: inline-block;
		    border: none;
		    margin-left: 0;
		    -webkit-appearance: none;
		    margin-bottom: 3px;
		    background-color: #fff;
		    border: none;
		    border-radius: 2px;
		    background: #fff url(../images/angle-down.svg);
		    background-repeat: no-repeat;
		    background-position: center right 20px;
		    width: 240px;
		    font-size: 16px;
		    font-weight: 400;
		    font-style: normal;
		    font-stretch: normal;
		    line-height: 1.44;
		    letter-spacing: normal;
		    text-align: left;
		    color: $brand-blue;
		    height: 60px;

    		&:focus {
    			outline: none !important;
    		}
    	}
    }
}