.insights-row {
	.x-column.x-sm.x-1-3, .x-column.x-sm.x-1-4 {
		background-size: cover;
		background-color: #fff;

		.x-img {
			margin-bottom: 0;
		}

		.x-text {
			padding: 25px !important;
			display: flex;
			flex-direction: column;
			position: relative;

			p {
				font-size: 16px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.44;
				letter-spacing: normal;
				text-align: left;
				color: #444444;
				margin-top: 0;
				margin-bottom: 0;
			}

			h2 {
				margin-top: 20px;
				font-size: 24px;
				font-weight: 600;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.21;
				letter-spacing: normal;
				text-align: left;
				color: #202020;
				text-transform: uppercase;
			}

			a {
				display: block;
				margin-top: 45px;
				font-size: 16px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.44;
				letter-spacing: normal;
				text-align: left;
				color: #202020;
				text-decoration: underline;
				text-transform: uppercase;
			}
		}

		img {
			width: 100%;
			height: 200px;
			object-fit: cover;
		}
	}
}