.marketing-row {
	.x-column.x-sm.x-1-3 {
		margin-right: 0;
		width: 100%;
		background-size: cover;

		& + .x-column.x-sm.x-1-3 {
			margin-top: 30px;
		}

		@media (min-width: 980px) {
			width: calc(33.333% - 20px);

			& + .x-column.x-sm.x-1-3 {
				margin-top: 0;
				margin-left: 30px;
			}
		}

		.x-text {
			position: relative;
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: center;
			padding: 80px 10px !important;
			min-height: 250px;
			background-position: center center;
			background-size: cover;

			@media (min-width: 980px) {
				min-height: 380px;
			}

			&::before {
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.45);
				content: '';
			}

			h2 {
				position: relative;
				z-index: 2;
				margin-top: 0;
				color: #ffffff;
				text-align: center;
				text-transform: uppercase;
				letter-spacing: normal;
				font-weight: 600;
				font-style: normal;
				font-stretch: normal;
				font-size: 32px;
				line-height: 1.34;
			}

			h3 {
				z-index: 2;
				display: none;
				margin-top: 0;
				color: #ffffff;
				text-align: center;
				letter-spacing: normal;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				font-size: 16px;
				line-height: 1.44;
			}

			p:last-child {
				margin-bottom: 0;
			}

			&:hover {
				h3 {
					display: block;
				}

				.cta {
					border-color: $brand-orange;
					background-color: $brand-orange;
				}
			}
		}
	}

	.x-column.x-sm.x-1-4 {
			background-size: cover;

			& + .x-column.x-sm.x-1-4 {
				margin-top: 30px;
			}

			@media (min-width: 767px) {
				margin-right: 0;
				width: calc(50% - 30px);

				&:nth-child(odd) {
					margin-right: 30px;
				}

				& + .x-column.x-sm.x-1-4 {
					margin-top: 0;
					margin-bottom: 30px;
				}
			}

			@media (min-width: 1200px) {
				width: calc(25% - 30px);

				&:nth-child(odd) {
					margin-right: 0;
				}

				& + .x-column.x-sm.x-1-4 {
					margin-left: 30px;
				}
			}

		.x-text {
			position: relative;
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: center;
			padding: 25px !important;
			min-height: 300px;
			background-position: center center;
			background-size: cover;

			&::before {
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.45);
				content: '';
			}

			h2 {
				position: relative;
				z-index: 2;
				margin: 0;
				margin-top: 0;
				color: #ffffff;
				text-align: center;
				text-transform: uppercase;
				letter-spacing: normal;
				font-weight: 600;
				font-style: normal;
				font-stretch: normal;
				font-size: 32px;
				line-height: 1.34;
			}

			h3 {
				z-index: 2;
				display: none;
				margin-top: 0;
				margin-bottom: 0;
				color: #ffffff;
				text-align: center;
				letter-spacing: normal;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				font-size: 16px;
				line-height: 1.44;
			}

			p:last-child  {
				margin-bottom: 0;
			}

			&:hover {
				h3 {
					display: block;
				}

				.cta {
					border-color: $brand-orange;
					background-color: $brand-orange;
				}
			}
		}
	}
}
