.people-row {
	.x-column.x-sm.x-1-3, .x-column.x-sm.x-1-4 {
		background-size: cover;
		background-color: #fff;
		transition: all 300ms ease-in-out;

		&:hover {
			box-shadow: 0 20px 30px -15px rgba(0, 0, 0, 0.07);

			.x-text.image-box {

				&::after {
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					background-color: rgba(255, 255, 255, 0.6);
					display: block;
					z-index: 1;
					opacity: 1;
					pointer-events: none;
					cursor: pointer;
				}

				&::before {
					content: 'Visit Profile';
					position: absolute;
					left: 0;
					top: 50%;
					width: 100%;
					text-align: center;
					transform: translateY(-50%);
					display: block;
					z-index: 2;
					font-size: 16px;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.44;
					letter-spacing: normal;
					color: #202020;
					text-decoration: underline;
					opacity: 1;
					pointer-events: none;
					cursor: pointer;
				}
			}
		}

		.x-img {
			margin-bottom: 0;
		}

		.x-text.image-box {
			position: relative;
			transition: all 300ms ease-in-out;

			p {
				font-size: 0;
				margin-bottom: 0;
				cursor: pointer;
			}

			a {
				width: 100%;
				height: auto;
				display: flex;
				flex-direction: column;
				position: relative;
				justify-content: center;
				align-items: center;
				cursor: pointer;
			}

			img {
				margin-bottom: 0;
				cursor: pointer;
			}

			&::after {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(255, 255, 255, 0.6);
				display: block;
				z-index: 1;
				opacity: 0;
				transition: all 300ms ease-in-out;
				pointer-events: none;
			}

			&::before {
				content: 'Visit Profile';
				position: absolute;
				left: 0;
				top: 50%;
				width: 100%;
				text-align: center;
				transform: translateY(-50%);
				display: block;
				z-index: 2;
				font-size: 16px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.44;
				letter-spacing: normal;
				color: #202020;
				text-decoration: underline;
				opacity: 0;
				transition: all 300ms ease-in-out;
				pointer-events: none;
			}
		}

		.x-text.text-box-link {
			padding: 25px !important;
			display: flex;
			flex-direction: column;
			position: relative;
			justify-content: center;
			align-items: center;

			p {
				font-size: 16px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.44;
				letter-spacing: normal;
				text-align: center;
				color: #444444;
				margin-bottom: 0;
			}

			h2 {
				font-size: 24px;
				font-weight: 600;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.21;
				letter-spacing: normal;
				text-align: center;
				color: #202020;
				margin-top: 0;
				text-transform: uppercase;
			}

			a {
				width: 100%;
				height: auto;
				display: flex;
				flex-direction: column;
				position: relative;
				justify-content: center;
				align-items: center;
			}
		}

		img {
			width: 100%;
			height: 200px;
			object-fit: cover;
		}
	}
}