.x-column {

	.x-recent-posts {
		margin-bottom: 0;

		a {
			padding: 0;
			border: none;
			box-shadow: none;
			transition: all 100ms ease-in-out;

			&:hover {
				box-shadow: 0 20px 30px -15px rgba(0, 0, 0, 0.1);

				.h-recent-posts {
					color: #202020;
				}

				.x-recent-posts-content {
					&::after {
						padding-right: 3rem;
						background-image: url('../images/cta-arrow-right.svg');
						background-position: right;
						background-size: auto 11px;
						background-repeat: no-repeat;
						color: $brand-blue;
					}
				}
			}
		}

		.x-recent-posts-img {
			background-color: $brand-blue;

			&:before,
			&:after {
				content: none !important;
			}
		}

		.x-recent-posts-content {
			position: relative;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-direction: column;
			flex-direction: column;
			padding: 25px !important;
			min-height: 250px;

			&::after {
				display: inline-block;
				align-self: flex-start;
				order: 5;
				margin-top: 45px;
				color: #202020;
				content: 'Read more';
				text-align: left;
				text-decoration: underline;
				text-transform: uppercase;
				letter-spacing: normal;
				font-weight: 400;
				font-style: normal;
				font-stretch: normal;
				font-size: 16px;
				line-height: 1.44;
			}
		}

		.h-recent-posts {
			flex: 1 1 auto;
			order: 2;
			margin-top: 20px;
			color: #202020;
			text-align: left;
			text-transform: uppercase;
			text-overflow: inherit;
			white-space: normal;
			letter-spacing: normal;
			font-weight: 700;
			font-style: normal;
			font-stretch: normal;
			font-size: 24px;
			line-height: 1.21;
		}

		.x-recent-posts-date {
			order: 1;
			margin-top: 0;
			margin-bottom: 0;
			color: #444;
			text-align: left;
			text-transform: none;
			letter-spacing: normal;
			font-weight: 400;
			font-style: normal;
			font-stretch: normal;
			font-size: 16px;
			line-height: 1.44;
		}
	}
}
