// Custom Slick Slider

.slider-background-image {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 580px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	&::after {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		display: block;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		content: '';
	}

	.row {
		position: relative;
		z-index: 2;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		height: 100%;
		text-align: center;

		.text_container {
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: center;
			width: 100%;
			height: 100%;
			text-align: center;

			.inner_content {

				h1 {
					display: inline;
					margin: 0 auto;
					padding: 4px 12px;
					background-color: $brand-blue;
					box-decoration-break: clone;
					color: #ffffff;
					text-align: center;
					text-transform: uppercase;
					letter-spacing: normal;
					font-weight: 600;
					font-style: normal;
					font-stretch: normal;
					font-size: 50px;
					line-height: 1.18;

					-webkit-box-decoration-break: clone;
				}

				p {
					display: block;
					margin-top: 30px !important;
					max-width: 502px;
					color: #ffffff;
					text-align: center;
					letter-spacing: normal;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					font-size: 16px !important;
					line-height: 1.81;
				}

			}
		}
	}
}

// Bottom Navigation

.cs_multi_slider_bottom {
	position: relative;

	// Slick List Container For Sub Nav

	.slick-list {
		box-sizing: border-box;
		margin: 0 auto;
		padding: 0px 0px !important;
		width: calc(100% - 100px);
		text-align: center;

		// Inner Thumnail Slide

		.slider-thumbnail.slick-slide {
			box-sizing: border-box;
			padding: 5px !important;
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
		}
	}
}

.cs_multi_slider_top {
	position: relative;
	overflow: hidden;
	height: 580px;

	i.fa.fa-angle-left.slick-prev.slick-arrow {
		position: absolute;
		top: 50%;
		left: 20px;
		z-index: 2;
		color: #fff;
		font-size: 64px;
		cursor: pointer;
		transform: translateY(-50%);
	}

	i.fa.fa-angle-right.slick-prev.slick-arrow {
		position: absolute;
		top: 50%;
		right: 20px;
		z-index: 2;
		color: #fff;
		font-size: 64px;
		cursor: pointer;
		transform: translateY(-50%);
	}

	ul.slick-dots {
		position: absolute;
		bottom: 40px;
		left: 50%;
		display: flex !important;
		margin-left: 0 ;
		padding-left: 0 ;
		list-style-type: none ;
		transform: translateX(-50%);

		li.slick-active {
			button {
				width: 13px;
				height: 13px;
				border: none;
				border-radius: 50%;
				background-color: #ffad36;
				font-size: 0;
				opacity: 1;
			}
		}

		button {
			margin: 4px;
			width: 13px;
			height: 13px;
			border: none;
			border-radius: 50%;
			background-color: #ffffff;
			font-size: 0;opacity: 0.3;
		}
	}
}

body a.dark.cta {
    border-color: black;
    color: black;
}

body .dark a.cta {
    border-color: black;
    color: black;
}	
