.x-section {
	.testimonial-slider {
		box-shadow: none;
		background-color: transparent;
		border: none;
		position: relative;

		.x-flexslider .x-slides {
			text-align: center;

			img {
			    width: auto;
			    display: block;
			    margin: 0 auto;
			    margin-bottom: 20px;
			}

			h2 {
				font-size: 24px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.79;
				letter-spacing: normal;
				text-align: center;
				color: #202020;
				display: block;
				margin: 0 auto;
				max-width: 800px;
				margin-bottom: 40px;
			}

			p {
				font-size: 16px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.44;
				letter-spacing: normal;
				text-align: center;
				color: #202020;
			}

			strong {
				font-weight: bold;
			}
		}

		// Slider Arrows 

		li.flex-nav-next {
		    position: absolute;
		    right: 0;
		    top: 30%;

		    a {
		    	background-color: transparent;
		    	color: #1a1a1a;
		    	font-size: 22px;
		    }
		}

		li.flex-nav-prev {
		    position: absolute;
		    left: 0;
		    top: 30%;

		    a {
		    	background-color: transparent;
		    	color: #1a1a1a;
		    	font-size: 22px;
		    }
		}

		.flex-direction-nav a.flex-next {
		    left: auto;
		}

		.flex-direction-nav a.flex-prev {
		    left: 0px;
		}
	}
}