body .x-topbar {
	padding: 10px 0;
	border-bottom: 0;

	@media ( min-width: 767px ) {
		padding: 5px 0;
	}

	.x-social-global {
		margin: 0;
	}

	.p-info {
		display: flex;
		align-items: center;
		flex-direction: row;
		margin-top: 0;
		padding: 0;
		width: 100%;
		background-color: #fff;

		a {
			margin-left: 15px;
			border-bottom: none;
			color: #202020;
			text-align: left;
			text-transform: uppercase;
			letter-spacing: normal;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			font-size: 14px;
			line-height: 1.64;

			i {
				padding-left: 4px;
			}

			&:first-child {
				margin-left: auto;
			}

			&:hover {
				color: $brand-blue;
			}

			&.blue-cta {
			    position: relative;
			    z-index: 2;
			    display: inline-block;
				padding: 9px 20px 9px 20px;
				background-color: #ffad36;
				color: #fff;
				text-align: center;
				text-transform: uppercase;
				letter-spacing: normal;
				font-weight: 400;
				font-style: normal;
				font-stretch: normal;
				font-size: 14px;
				line-height: 1.64;
			    transition: all 300ms ease-in-out;

			    &:hover {
			    	color: #fff;
			    }
			}

			&.orange-cta {
			    position: relative;
			    z-index: 2;
			    display: inline-block;
				padding: 9px 20px 9px 20px;
				background-color: #ffad36;
				color: #fff;
				text-align: center;
				text-transform: uppercase;
				letter-spacing: normal;
				font-weight: 400;
				font-style: normal;
				font-stretch: normal;
				font-size: 14px;
				line-height: 1.64;
			    transition: all 300ms ease-in-out;

			    &:hover {
			    	background-color: $brand-orange;
			    	color: #fff;
			    }
			}
		}
	}
}
